In [1]:
from typing import Tuple

import numpy as np
import pandas as pd
from IPython.core.display import Markdown
from IPython.core.display_functions import display

import notebooks.config as config
import notebooks.utils as nb_utils
from src.db.broker import DbBroker
from src.features.initial_cleaning import InitialCleaner
from src.logger import logging
from src.utils import Dataset, Metadata, PipelineMetadata, preprocess_init

STAGE = 0

%load_ext autoreload
%autoreload 2

## Get dataset and metadata

In [2]:
def get_dataset_from_db() -> Dataset:
    db_broker = DbBroker()
    df = pd.read_sql(
        db_broker.get_all_listings_statement(),
        db_broker.engine,
        dtype_backend=config.DTYPE_BACKEND,
        index_col=config.INDEX,
    )
    df = df.rename(str, axis="columns")
    db_broker.engine.dispose()
    return df


def get_metadata() -> Metadata:
    return Metadata()

In [3]:
df = get_dataset_from_db()
metadata = get_metadata()

## Dataset info

In [4]:
print("Entire dataset")
print(f"Duplicate rows: {df.duplicated().sum()}")
print(20 * "-")
df.info()

Entire dataset
Duplicate rows: 0
--------------------
<class 'pandas.core.frame.DataFrame'>
Index: 30788 entries, 9249043 to 23246511
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      30788 non-null  string
 1   short_url                 30788 non-null  string
 2   price                     30788 non-null  string
 3   listing_followers_no      30788 non-null  string
 4   location                  30788 non-null  string
 5   images_no                 30788 non-null  string
 6   safety                    30788 non-null  string
 7   equipment                 30788 non-null  string
 8   other                     30788 non-null  string
 9   description               30788 non-null  string
 10  id_1                      30788 non-null  Int64
 11  condition                 30788 non-null  string
 12  brand                     30788 non-null  string
 13  model                     30788 non-null  string
 14  production_year           30788 non-null  string
 15  kilometerage              30788 non-null  string
 16  body_type                 30788 non-null  string
 17  fuel_type                 30788 non-null  string
 18  engine_capacity           30607 non-null  string
 19  engine_power              30788 non-null  string
 20  fixed_price               0 non-null      string
 21  trade_in                  30788 non-null  string
 22  certified                 1692 non-null   string
 23  battery_capacity          181 non-null    string
 24  id_2                      30788 non-null  Int64
 25  floating_flywheel         9664 non-null   string
 26  engine_emission_class     30781 non-null  string
 27  propulsion                30788 non-null  string
 28  gearbox_type              30787 non-null  string
 29  doors_no                  30786 non-null  string
 30  seats_no                  30788 non-null  string
 31  steering_wheel_side       30788 non-null  string
 32  air_conditioning          30788 non-null  string
 33  color                     30788 non-null  string
 34  interior_material         26649 non-null  string
 35  interior_color            25487 non-null  string
 36  registered_until          30785 non-null  string
 37  vehicle_origin            30786 non-null  string
 38  ownership                 18458 non-null  string
 39  damage                    30783 non-null  string
 40  import_country            7739 non-null   string
 41  sales_method              3101 non-null   string
 42  credit                    2065 non-null   string
 43  deposit                   558 non-null    string
 44  installment_no            718 non-null    string
 45  installment_amount        693 non-null    string
 46  interest_free_credit      187 non-null    string
 47  leasing                   977 non-null    string
 48  cash_payment              332 non-null    string
 49  range_on_full_battery_km  149 non-null    string
dtypes: Int64(2), string(48)
memory usage: 12.1 MB

## Entire dataset cleaning

### Initial clean

In [5]:
@preprocess_init
def initial_preparation_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    df.columns = df.columns.astype("string")
    print("Transformed column type to string")

    # Prefix columns from table general_informations with "gi_"
    # and additional_informations with "ai"
    id_1_col_idx = df.columns.get_loc("id_1")
    id_2_col_idx = df.columns.get_loc("id_2")

    columns_from_gi = df.columns[id_1_col_idx + 1 : id_2_col_idx].values
    columns_from_ai = df.columns[id_2_col_idx + 1 :].values

    df.rename(columns=dict(zip(columns_from_gi, "gi_" + columns_from_gi)), inplace=True)
    print("Added prefix 'gi_' to columns from table general_informations")
    df.rename(columns=dict(zip(columns_from_ai, "ai_" + columns_from_ai)), inplace=True)
    print("Added prefix 'ai_' to columns from table additional_informations")

    del df["id_1"], df["id_2"]
    print("Removed redundant ids")

    del df["gi_fixed_price"]
    print("Removing gi_fixed_price that is poorly scraped")

    return df, metadata

In [6]:
df, metadata = initial_preparation_nb(df=df, metadata=metadata)

Transformed column type to string
Added prefix 'gi_' to columns from table general_informations
Added prefix 'ai_' to columns from table additional_informations
Removed redundant ids
Removing gi_fixed_price that is poorly scraped

### Feature 'name'

In [7]:
@preprocess_init
def cf_name_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()
    features_info = metadata.features_info

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    print("Counts by frequencies for the first 20 categories")
    display(df[feature_name].value_counts().head(20))
    print()

    sum_irregular_name_rows = (
        df[feature_name].str.contains("ucesc|učešć", case=False).sum()
    )
    print(f"Irregular 'name' rows count: {sum_irregular_name_rows}")
    display(Markdown("This feature will be left for the Multivariate analysis."))
    print()

    features_info["other"].append(feature_name)
    print(f"Added {feature_name} to 'other' features")

    return df, metadata

In [8]:
df, metadata = cf_name_nb(df=df, metadata=metadata)

First 5 rows

                                         name
id
9249043               Volvo 940 DIPLOMATA NOV
9650557  SsangYong Kyron 2,0 XDI4x4RESTAJLING
9657017            Audi A4 2.5 TDI Quattro CH
9755964        Dacia Sandero 1.0 TCE 90 LAGER
9921885             Zastava 750 presla 38.400

Counts by frequencies for the first 20 categories

name
Audi A4                 179
Volkswagen Golf 5       123
Audi A6                 119
BMW 320                 115
Volkswagen Polo         114
Volkswagen Passat B6    106
Audi A3                 105
Renault Megane          102
Škoda Octavia           100
Volkswagen Golf 6        98
Volkswagen Golf 7        87
Ford Focus               82
Renault Clio             79
BMW 520                  73
Ford Fiesta              69
Fiat Punto               68
Opel Corsa D             68
Peugeot 308              67
Citroen C5               65
Audi A4 2.0 TDI          64
Name: count, dtype: Int64

Irregular 'name' rows count: 18

This feature will be left for the Multivariate analysis.

Added name to 'other' features

### Feature 'short_url'

In [9]:
@preprocess_init
def cf_short_url_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()
    features_info = metadata.features_info

    print("Display first 5 rows")
    display(df[[feature_name]].head())
    print()

    features_info["other"].append(feature_name)
    print(f"Added {feature_name} to 'other' features")

    return df, metadata

In [10]:
df, metadata = cf_short_url_nb(df=df, metadata=metadata)

Display first 5 rows

                                                 short_url
id
9249043  https://www.polovniautomobili.com/auto-oglasi/...
9650557  https://www.polovniautomobili.com/auto-oglasi/...
9657017  https://www.polovniautomobili.com/auto-oglasi/...
9755964  https://www.polovniautomobili.com/auto-oglasi/...
9921885  https://www.polovniautomobili.com/auto-oglasi/...

Added short_url to 'other' features

### Feature 'price'

In [11]:
@preprocess_init
def cf_price_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    df[feature_name] = pd.to_numeric(
        df[feature_name].str.slice(stop=-1).str.replace(".", "").str.strip(),
        errors="raise",
        downcast="unsigned",
    )
    print("Removed '.' and spaces from values and transformed to numerical")
    print()

    print("Cars where price = 1")
    display(df[df[feature_name] == 1])
    display(
        Markdown(
            "These are cars where price='Po dogovoru' on the website, so that means they didn't have a price to begin with and they will be dropped."
        )
    )
    print()

    df = df.loc[df[feature_name] != 1, :]
    print("Removed cars that had price = 1")

    print("Cars where price = 'Po dogovoru'")
    display(df[df[feature_name] == "Po dogovoru"])
    print()

    cars_price_less_than_100 = df.loc[df[feature_name] < 100, feature_name]
    print("Short url of cars that had price < 100")
    display(df.loc[cars_price_less_than_100.index, "short_url"].tolist())  # type: ignore
    print()

    display(
        Markdown(
            "All of these cars are going to be deleted because they actually don't have a value of price (their current value is the result of poor handling the case when price is set by an agreement)."
        )
    )

    df = df.drop(cars_price_less_than_100.index, axis=0)
    print("Removed cars that had price < 100")

    return df, metadata

In [12]:
df, metadata = cf_price_nb(df=df, metadata=metadata)

First 5 rows

            price
id
9249043  18.000 €
9650557   4.500 €
9657017   3.300 €
9755964  16.100 €
9921885  12.999 €

Removed '.' and spaces from values and transformed to numerical

Cars where price = 1

,name,short_url,price,listing_followers_no,location,images_no,safety,equipment,other,description,...,ai_import_country,ai_sales_method,ai_credit,ai_deposit,ai_installment_no,ai_installment_amount,ai_interest_free_credit,ai_leasing,ai_cash_payment,ai_range_on_full_battery_km
id,,,,,,,,,,,,,,,,,,,,,
23220124,Audi A4 RATA 183e BEZ UCESCA,https://www.polovniautomobili.com/auto-oglasi/...,1,2,Beograd,39,"Airbag za vozača,Airbag za suvozača,Bočni airb...","Servo volan,Daljinsko zaključavanje,Tonirana s...",,,...,<NA>,<NA>,DA,<NA>,<NA>,183 €,<NA>,<NA>,<NA>,<NA>
23220566,Renault Scenic RATA 148e BEZ UCESCA,https://www.polovniautomobili.com/auto-oglasi/...,1,,Beograd,28,"Airbag za vozača,Airbag za suvozača,Bočni airb...","Servo volan,Multifunkcionalni volan,Tempomat,D...",,VOZILO U DOLASKU ...............................,...,<NA>,<NA>,DA,<NA>,<NA>,148 €,<NA>,<NA>,<NA>,<NA>
23221119,Opel Astra J RATA 148e BEZ UCESCA,https://www.polovniautomobili.com/auto-oglasi/...,1,1,Beograd,14,"Airbag za vozača,Airbag za suvozača,Bočni airb...","Servo volan,Multifunkcionalni volan,Tempomat,D...",,Vozilo u dolasku ...............................,...,<NA>,<NA>,DA,<NA>,<NA>,148 €,<NA>,<NA>,<NA>,<NA>
23228430,Toyota Yaris RATA 78e BEZ UCESCA,https://www.polovniautomobili.com/auto-oglasi/...,1,1,Beograd,17,"Airbag za vozača,Airbag za suvozača,Bočni airb...","Servo volan,Daljinsko zaključavanje,Putni raču...",,VOZILO U DOLASKU,...,<NA>,<NA>,DA,<NA>,<NA>,78 €,<NA>,<NA>,<NA>,<NA>
23230448,Peugeot 306,https://www.polovniautomobili.com/auto-oglasi/...,1,2,Landol,19,"Airbag za vozača,Airbag za suvozača,ABS","Metalik boja,Servo volan,Tonirana stakla,Radio...",Garažiran,,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

These are cars where price='Po dogovoru' on the website, so that means they didn't have a price to begin with and they will be dropped.

Removed cars that had price = 1
Cars where price = 'Po dogovoru'

Empty DataFrame
Columns: [name, short_url, price, listing_followers_no, location, images_no, safety, equipment, other, description, gi_condition, gi_brand, gi_model, gi_production_year, gi_kilometerage, gi_body_type, gi_fuel_type, gi_engine_capacity, gi_engine_power, gi_trade_in, gi_certified, gi_battery_capacity, ai_floating_flywheel, ai_engine_emission_class, ai_propulsion, ai_gearbox_type, ai_doors_no, ai_seats_no, ai_steering_wheel_side, ai_air_conditioning, ai_color, ai_interior_material, ai_interior_color, ai_registered_until, ai_vehicle_origin, ai_ownership, ai_damage, ai_import_country, ai_sales_method, ai_credit, ai_deposit, ai_installment_no, ai_installment_amount, ai_interest_free_credit, ai_leasing, ai_cash_payment, ai_range_on_full_battery_km]
Index: []

[0 rows x 47 columns]

Short url of cars that had price < 100

['https://www.polovniautomobili.com/auto-oglasi/22675403/Opel Meriva RATA 78e BEZ UCESCA',
 'https://www.polovniautomobili.com/auto-oglasi/22681873/Ford Focus RATA 83e BEZ UČEŠĆA',
 'https://www.polovniautomobili.com/auto-oglasi/22681890/Opel Astra H RATA 99e BEZ UČEŠĆA',
 'https://www.polovniautomobili.com/auto-oglasi/23225453/Zastava Yugo Tempo']

All of these cars are going to be deleted because they actually don't have a value of price (their current value is the result of poor handling the case when price is set by an agreement).

Removed cars that had price < 100

### Feature 'listing_followers_no'

In [13]:
@preprocess_init
def cf_listing_followers_no_nb(
    df: Dataset, metadata: Metadata
) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()

    features_info = metadata.features_info

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    df[feature_name] = pd.to_numeric(
        df[feature_name], downcast="unsigned", errors="raise"
    )
    print("Transformed to numerical")

    features_info["numerical"].append(feature_name)
    print(f"Added '{feature_name}' to numerical features'")

    return df, metadata

In [14]:
df, metadata = cf_listing_followers_no_nb(df=df, metadata=metadata)

First 5 rows

        listing_followers_no
id
9249043                   58
9650557                   87
9657017                  151
9755964                   50
9921885                  421

Transformed to numerical
Added 'listing_followers_no' to numerical features'

### Feature 'location'

In [15]:
@preprocess_init
def cf_location_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()

    features_info = metadata.features_info

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    df[feature_name] = pd.Categorical(df[feature_name], ordered=False)
    print(f"Converted '{feature_name}' to categorical type (nominal)")

    features_info["nominal"].append(feature_name)
    print(f"Added '{feature_name}' to 'nominal' features")

    return df, metadata

In [16]:
df, metadata = cf_location_nb(df=df, metadata=metadata)

First 5 rows

         location
id
9249043     Vrbas
9650557  Novi Sad
9657017   Loznica
9755964  Novi Sad
9921885     Zemun

Converted 'location' to categorical type (nominal)
Added 'location' to 'nominal' features

### Feature 'images_no'

In [17]:
@preprocess_init
def cf_images_no_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()

    features_info = metadata.features_info

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    df[feature_name] = pd.to_numeric(
        df[feature_name], downcast="unsigned", errors="raise"
    )
    print("Transformed to numerical")

    features_info["numerical"].append(feature_name)
    print(f"Added {feature_name} to 'numerical' features")

    return df, metadata

In [18]:
df, metadata = cf_images_no_nb(df=df, metadata=metadata)

First 5 rows

        images_no
id
9249043        30
9650557        17
9657017        19
9755964         9
9921885        15

Transformed to numerical
Added images_no to 'numerical' features

### Feature 'safety'

In [19]:
@preprocess_init
def cf_safety_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()

    features_info = metadata.features_info

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    prefix = "s_"

    # Create data frame with dummy columns
    df_safety_dummies = df[feature_name].str.get_dummies(sep=",").add_prefix(prefix)
    df = pd.concat([df, df_safety_dummies], axis=1)
    print("Extended the data frame with dummy columns")

    del df[feature_name]
    print(f"Deleted '{feature_name}' column")

    safety_columns = [col for col in df.columns if col.startswith(prefix)]
    df[safety_columns] = df[safety_columns].astype("boolean")
    print("Converted all remaining safety columns to boolean")

    safety_columns_fixed = (
        df[safety_columns]
        .columns.str.strip()
        .str.replace(r"[- ]", "_", regex=True)
        .str.replace("/", "_ili_")
    ).tolist()

    df.rename(columns=dict(zip(safety_columns, safety_columns_fixed)), inplace=True)
    print("Fixed column names")

    features_info["binary"].extend(safety_columns_fixed)
    print("Added all remaining safety columns to 'binary' features")

    return df, metadata

In [20]:
df, metadata = cf_safety_nb(df=df, metadata=metadata)

First 5 rows

                                                    safety
id
9249043
9650557  Airbag za vozača,Airbag za suvozača,Bočni airb...
9657017  Airbag za vozača,Airbag za suvozača,Bočni airb...
9755964  Airbag za vozača,Airbag za suvozača,Bočni airb...
9921885

Extended the data frame with dummy columns
Deleted 'safety' column
Converted all remaining safety columns to boolean
Fixed column names
Added all remaining safety columns to 'binary' features

### Feature 'equipment'

In [21]:
@preprocess_init
def cf_equipment_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()

    features_info = metadata.features_info

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    prefix = "e_"

    # Create data frame with dummy columns
    df_equipment_dummies = df[feature_name].str.get_dummies(sep=",").add_prefix(prefix)
    df = pd.concat([df, df_equipment_dummies], axis=1)
    print("Extended the data frame with dummy columns")

    del df[feature_name]
    print(f"Deleted '{feature_name}' column")

    equipment_columns = df_equipment_dummies.columns.tolist()

    df[equipment_columns] = df[equipment_columns].astype("boolean")
    print("Converted all remaining equipment columns to boolean")

    equipment_columns_fixed = (
        df[equipment_columns]
        .columns.str.strip()
        .str.replace(r"[- ]", "_", regex=True)
        .str.replace("/", "_ili_")
    ).tolist()

    df.rename(
        columns=dict(zip(equipment_columns, equipment_columns_fixed)), inplace=True
    )
    print("Fixed column names")

    features_info["binary"].extend(equipment_columns_fixed)
    print("Added all remaining equipment columns to 'binary' features")

    return df, metadata

In [22]:
df, metadata = cf_equipment_nb(df=df, metadata=metadata)

First 5 rows

                                                 equipment
id
9249043
9650557  Metalik boja,Branici u boji auta,Servo volan,M...
9657017  Metalik boja,Branici u boji auta,Servo volan,T...
9755964  Metalik boja,Branici u boji auta,Servo volan,M...
9921885                                    Svetla za maglu

Extended the data frame with dummy columns
Deleted 'equipment' column
Converted all remaining equipment columns to boolean
Fixed column names
Added all remaining equipment columns to 'binary' features

### Feature 'other'

In [23]:
@preprocess_init
def cf_other_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()

    features_info = metadata.features_info

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    prefix = "o_"

    # Create data frame with dummy columns
    df_other_dummies = df[feature_name].str.get_dummies(sep=",").add_prefix(prefix)
    df = pd.concat([df, df_other_dummies], axis=1)
    print("Extended the data frame with dummy columns")

    del df[feature_name]
    print(f"Deleted '{feature_name}' column")

    other_columns = df_other_dummies.columns.tolist()

    df[other_columns] = df[other_columns].astype("boolean")
    print("Converted all remaining other columns to boolean")

    other_columns_fixed = (
        df[other_columns]
        .columns.str.strip()
        .str.replace(r"[- ]", "_", regex=True)
        .str.replace("/", "_ili_")
    ).tolist()

    df.rename(columns=dict(zip(other_columns, other_columns_fixed)), inplace=True)
    print("Fixed column names")

    df = df.loc[df.o_Taxi == False, :]
    del df["o_Taxi"]
    other_columns_fixed.remove("o_Taxi")
    print("Deleted taxi cars and the column")

    df = df.loc[df.o_Vozilo_auto_škole == False, :]
    del df["o_Vozilo_auto_škole"]
    other_columns_fixed.remove("o_Vozilo_auto_škole")
    print("Deleted driving school cars and the column")

    features_info["binary"].extend(other_columns_fixed)
    print("Added all remaining other columns to 'binary' features")

    return df, metadata

In [24]:
df, metadata = cf_other_nb(df=df, metadata=metadata)

First 5 rows

                                                     other
id
9249043
9650557                                     Rezervni ključ
9657017                     Servisna knjiga,Rezervni ključ
9755964  Prvi vlasnik,Kupljen nov u Srbiji,Garancija,Ga...
9921885  Kupljen nov u Srbiji,Garancija,Garažiran,Servi...

Extended the data frame with dummy columns
Deleted 'other' column
Converted all remaining other columns to boolean
Fixed column names
Deleted taxi cars and the column
Deleted driving school cars and the column
Added all remaining other columns to 'binary' features

### Feature 'description'

In [25]:
@preprocess_init
def cf_description_nb(df: Dataset, metadata: Metadata) -> Tuple[Dataset, Metadata]:
    feature_name = nb_utils.get_feature_name()

    features_info = metadata.features_info

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    features_info["other"].append(feature_name)
    print(f"Added '{feature_name}' to 'other' features")

    return df, metadata

In [26]:
df, metadata = cf_description_nb(df=df, metadata=metadata)

First 5 rows

                                               description
id
9249043  DIPLOMATA,JEDINSTVEN SA MALOM KILOMETRAZOM,(25...
9650557                       Vozilo u odlicnom stanju ...
9657017  - A4 Quattro - manuelni menjac
- Uvoz iz Svjca...
9755964  NOVO VOZILO, ODLICNI USLOVI FINANSIRANJA .
OVL...
9921885  Fica ima pravih 38.400 km !!!

Nikad nije nist...

Added 'description' to 'other' features

### "GeneralInformation" features

In [27]:
@preprocess_init
def c_general_informations_nb(
    df: Dataset, metadata: Metadata
) -> Tuple[Dataset, Metadata]:
    pd.set_option("mode.chained_assignment", None)

    features_info = metadata.features_info

    gi_columns = [
        "gi_condition",
        "gi_brand",
        "gi_model",
        "gi_production_year",
        "gi_kilometerage",
        "gi_body_type",
        "gi_fuel_type",
        "gi_engine_capacity",
        "gi_engine_power",
        "gi_trade_in",
        "gi_certified",
        "gi_battery_capacity",
    ]

    print("Frequencies for GeneralInformation columns")
    for col in gi_columns:
        display(nb_utils.get_value_counts_freq_with_perc(df, col))

    display(
        Markdown(
            "Only used cars will be left in the dataset, so all new cars are going to be deleted."
        )
    )

    new_cars_cond = df.gi_condition == "Novo vozilo"
    df = df.loc[~new_cars_cond, :]
    print(f"Deleted from df {new_cars_cond.sum()} rows that represent new cars")

    del df["gi_condition"]
    print("Deleted 'gi_condition' feature")

    df.gi_kilometerage = (
        df.gi_kilometerage.str.rstrip("km").str.replace(".", "").str.strip()
    )
    print("Stripped 'km' and spaces and removed '.' from 'gi_kilometerage'")

    df.gi_production_year = df.gi_production_year.str.rstrip(".").str.strip()
    print("Removed '.' and stripped spaces from 'gi_production_year'")

    df.gi_engine_capacity = df.gi_engine_capacity.str.rstrip("cm3").str.strip()
    print("Stripped 'cm3' and spaces from 'gi_engine_capacity'")

    df.gi_engine_power = df.gi_engine_power.str.split("/", n=1).str.get(0).str.strip()
    print("Extracted only value of KS (stands for horse powers) and stripped spaces")

    df.gi_certified = pd.to_datetime(
        df.gi_certified.str.strip()
        .str.lstrip("do: ")
        .replace({"Nije atestiran": np.nan}),
        format="%m.%Y",
        errors="raise",
    )
    print(
        "Stripped spaces and 'do: ' from 'gi_certified', replaced 'Nije atestiran' with NA and transformed to datetime"
    )

    df.gi_battery_capacity = df.gi_battery_capacity.str.rstrip("kWh").str.strip()
    print("Stripped 'kWh' and spaces from 'gi_battery_capacity'")

    nominal_cols = [
        "gi_brand",
        "gi_model",
        "gi_body_type",
        "gi_fuel_type",
        "gi_trade_in",
    ]
    numerical_cols = [
        "gi_kilometerage",
        "gi_production_year",
        "gi_engine_capacity",
        "gi_engine_power",
        "gi_battery_capacity",
    ]
    other_cols = ["gi_certified"]

    for col in nominal_cols:
        df[col] = pd.Categorical(df[col].astype("object"), ordered=False)
    print("Converted nominal columns to categorical types (nominal)")

    for col in numerical_cols:
        df[col] = pd.to_numeric(df[col], errors="raise", downcast="unsigned")
    print("Converted numerical columns to numerical types")

    features_info["nominal"].extend(nominal_cols)
    print(f"Added {nominal_cols} columns to 'nominal' features")
    features_info["numerical"].extend(numerical_cols)
    print(f"Added {numerical_cols} columns to 'numerical' features")
    features_info["other"].extend(other_cols)
    print(f"Added {other_cols} columns to 'other' features")

    pd.set_option("mode.chained_assignment", "warn")

    return df, metadata

In [28]:
df, metadata = c_general_informations_nb(df=df, metadata=metadata)

Frequencies for GeneralInformation columns

                count  percentage [%]
gi_condition
Polovno vozilo  30114       97.912602
Novo vozilo       642        2.087398

             count  percentage [%]
gi_brand
Volkswagen    4809       15.635973
Audi          3188       10.365457
BMW           2770        9.006373
Opel          2376        7.725322
Peugeot       2053         6.67512
...            ...             ...
Oldsmobile       1        0.003251
Jinpeng          1        0.003251
Lamborghini      1        0.003251
Buick            1        0.003251
Acura            1        0.003251

[74 rows x 2 columns]

             count  percentage [%]
gi_model
A4             866        2.815711
Octavia        630        2.048381
A3             628        2.041878
A6             621        2.019118
Golf 7         573        1.863051
...            ...             ...
CLK 240          1        0.003251
CLS 300          1        0.003251
Explorer         1        0.003251
Cinquecento      1        0.003251
Quattro          1        0.003251

[950 rows x 2 columns]

                    count  percentage [%]
gi_production_year
2008.                1983        6.447522
2011.                1975        6.421511
2010.                1870        6.080114
2009.                1838         5.97607
2007.                1829        5.946807
...                   ...             ...
1957.                   1        0.003251
1961.                   1        0.003251
1973.                   1        0.003251
1958.                   1        0.003251
1964.                   1        0.003251

[63 rows x 2 columns]

                 count  percentage [%]
gi_kilometerage
250.000 km         379         1.23228
230.000 km         334        1.085967
220.000 km         326        1.059956
0 km               323        1.050202
200.000 km         303        0.985174
...                ...             ...
214.393 km           1        0.003251
183.548 km           1        0.003251
280.200 km           1        0.003251
77.080 km            1        0.003251
264.239 km           1        0.003251

[11532 rows x 2 columns]

                       count  percentage [%]
gi_body_type
Hečbek                 10408       33.840551
Džip/SUV                6342       20.620367
Limuzina                5630       18.305371
Karavan                 4601       14.959683
Monovolumen (MiniVan)   2441        7.936663
Kupe                     809        2.630381
Kabriolet/Roadster       315         1.02419
Pickup                   208        0.676291
                           2        0.006503

                         count  percentage [%]
gi_fuel_type
Dizel                    20730       67.401483
Benzin                    7779       25.292626
Benzin + Gas (TNG)        1134        3.687085
Benzin + Metan (CNG)       553        1.798023
Hibridni pogon             327        1.063207
Električni pogon           181        0.588503
Hibridni pogon (Benzin)     34        0.110548
Hibridni pogon (Dizel)      14         0.04552
Plug-in hibrid               3        0.009754
Metan CNG                    1        0.003251

                    count  percentage [%]
gi_engine_capacity
1968 cm3             3569        11.60424
1598 cm3             2742        8.915334
1995 cm3             2111        6.863701
1560 cm3             1473        4.789309
1461 cm3             1219        3.963454
...                   ...             ...
1480 cm3                1        0.003251
190 cm3                 1        0.003251
699 cm3                 1        0.003251
5216 cm3                1        0.003251
1459 cm3                1        0.003251

[617 rows x 2 columns]

                 count  percentage [%]
gi_engine_power
110/150 (kW/KS)   2513        8.170763
103/140 (kW/KS)   1923        6.252439
85/116 (kW/KS)    1651        5.368058
77/105 (kW/KS)    1438         4.67551
81/110 (kW/KS)    1333        4.334114
...                ...             ...
60/81 (kW/KS)        1        0.003251
146/199 (kW/KS)      1        0.003251
500/680 (kW/KS)      1        0.003251
167/227 (kW/KS)      1        0.003251
316/430 (kW/KS)      1        0.003251

[310 rows x 2 columns]

                    count  percentage [%]
gi_trade_in
NE                  22561       73.354793
DA                   3740       12.160229
DA (za jeftinije)    2824        9.181948
DA (za skuplje)       991        3.222136
DA (u istoj ceni)     438        1.424112
DA (staro za novo)    202        0.656782

                count  percentage [%]
gi_certified
<NA>            29068        94.51164
Nije atestiran    163        0.529978
do: 10.2027        54        0.175575
do: 07.2027        49        0.159319
do: 01.2028        49        0.159319
...               ...             ...
do: 10.2032         1        0.003251
do: 10.2030         1        0.003251
do: 04.2031         1        0.003251
do: 10.2029         1        0.003251
do: 04.2033         1        0.003251

[109 rows x 2 columns]

                     count  percentage [%]
gi_battery_capacity
<NA>                 30575       99.411497
17 kWh                  11        0.035765
75 kWh                  10        0.032514
58 kWh                   7         0.02276
22 kWh                   7         0.02276
...                    ...             ...
21.6 kWh                 1        0.003251
38.3 kWh                 1        0.003251
72.6 kWh                 1        0.003251
36.6 kWh                 1        0.003251
20 kWh                   1        0.003251

[84 rows x 2 columns]

Only used cars will be left in the dataset, so all new cars are going to be deleted.

Deleted from df 642 rows that represent new cars
Deleted 'gi_condition' feature
Stripped 'km' and spaces and removed '.' from 'gi_kilometerage'
Removed '.' and stripped spaces from 'gi_production_year'
Stripped 'cm3' and spaces from 'gi_engine_capacity'
Extracted only value of KS (stands for horse powers) and stripped spaces
Stripped spaces and 'do: ' from 'gi_certified', replaced 'Nije atestiran' with NA and transformed to datetime
Stripped 'kWh' and spaces from 'gi_battery_capacity'
Converted nominal columns to categorical types (nominal)
Converted numerical columns to numerical types
Added ['gi_brand', 'gi_model', 'gi_body_type', 'gi_fuel_type', 'gi_trade_in'] columns to 'nominal' features
Added ['gi_kilometerage', 'gi_production_year', 'gi_engine_capacity', 'gi_engine_power', 'gi_battery_capacity'] columns to 'numerical' features
Added ['gi_certified'] columns to 'other' features

### "AdditionalInformation" features

In [29]:
@preprocess_init
def c_additional_informations_nb(
    df: Dataset, metadata: Metadata
) -> Tuple[Dataset, Metadata]:
    features_info = metadata.features_info

    ai_columns = [col for col in df.columns if "ai_" in col]

    pd.set_option("mode.chained_assignment", None)

    print("Frequencies for AdditionalInformation columns")
    for col in ai_columns:
        display(nb_utils.get_value_counts_freq_with_perc(df, col))

    df.ai_engine_emission_class = df.ai_engine_emission_class.str.lstrip(
        "Euro"
    ).str.strip()
    print("Stripped 'Euro' and spaces from 'ai_engine_emission_class'")

    df.ai_doors_no = df.ai_doors_no.map({"4/5 vrata": True, "2/3 vrata": False})
    print(
        "Stripped spaces and mapped 'ai_doors_no' so that True represents 4/5 doors and False 2/3 doors"
    )

    df.ai_seats_no = df.ai_seats_no.str.rstrip("sedišta").str.strip()
    print("Stripped 'sedišta' and spaces from 'ai_seats_no")

    df = df.loc[df.ai_steering_wheel_side.str.strip() != "Desni volan", :]
    print("Kept only cars that have steering wheele on the right side")

    del df["ai_steering_wheel_side"]
    print("Deleted 'ai_steering_wheel_side' feature (no longer useful)")

    df.ai_registered_until = pd.to_datetime(
        df.ai_registered_until.str.strip().replace({"Nije registrovan": np.nan}),
        format="%m.%Y.",
        errors="raise",
    )
    print(
        "Stripped spaces from 'ai_registered_until', replaced 'Nije registrovan' with NA and transformed to datetime"
    )

    df.ai_credit = df.ai_credit.str.strip().map({"DA": True, np.nan: False})
    print(
        "Stripped spaces and mapped 'ai_credit' so that True represents 'DA' and False <NA>"
    )

    df.ai_deposit = df.ai_deposit.str.rstrip("€").str.strip()
    print("Stripped '€' and spaces from 'ai_deposit'")

    df.ai_installment_amount = df.ai_installment_amount.str.rstrip("€").str.strip()
    print("Stripped '€' and spaces from 'ai_installment_amount'")

    df.ai_interest_free_credit = df.ai_interest_free_credit.str.strip().map(
        {"DA": True, np.nan: False}
    )
    print(
        "Stripped spaces and mapped 'ai_interest_free_credit' so that True represents 'DA' and False <NA>"
    )

    df.ai_leasing = df.ai_leasing.str.strip().map({"DA": True, np.nan: False})
    print(
        "Stripped spaces and mappped 'ai_leasing' so that True represents 'DA' and False <NA>"
    )

    df.ai_cash_payment = df.ai_cash_payment.str.rstrip("€").str.strip()
    print("Stripped '€' and spaces from 'ai_cash_payment'")

    binary_cols = ["ai_doors_no", "ai_credit", "ai_interest_free_credit", "ai_leasing"]
    ordinal_cols = ["ai_engine_emission_class", "ai_damage"]
    nominal_cols = [
        "ai_floating_flywheel",
        "ai_gearbox_type",
        "ai_air_conditioning",
        "ai_color",
        "ai_interior_material",
        "ai_interior_color",
        "ai_propulsion",
        "ai_vehicle_origin",
        "ai_ownership",
        "ai_import_country",
        "ai_sales_method",
    ]
    numerical_cols = [
        "ai_seats_no",
        "ai_deposit",
        "ai_installment_no",
        "ai_installment_amount",
        "ai_cash_payment",
        "ai_range_on_full_battery_km",
    ]
    other_cols = [
        "ai_registered_until",
    ]

    df[binary_cols] = df[binary_cols].astype("boolean")
    print("Converted binary columns to boolean")

    for col in ordinal_cols:
        df[col] = pd.Categorical(df[col].astype("object"), ordered=True)
    print("Converted ordinal columns to categorical types (ordinal)")

    for col in nominal_cols:
        df[col] = pd.Categorical(df[col].astype("object"), ordered=False)
    print("Converted nominal columns to categorical types (nominal)")

    for col in numerical_cols:
        df[col] = pd.to_numeric(df[col], errors="raise", downcast="unsigned")
    print("Converted numerical columns to numerical types")

    features_info["binary"].extend(binary_cols)
    print(f"Added {binary_cols} columns to 'binary' features")
    features_info["ordinal"].extend(ordinal_cols)
    print(f"Added {ordinal_cols} columns to 'ordinal' features")
    features_info["nominal"].extend(nominal_cols)
    print(f"Added {nominal_cols} columns to 'nominal' features")
    features_info["numerical"].extend(numerical_cols)
    print(f"Added {numerical_cols} columns to 'numerical' features")
    features_info["other"].extend(other_cols)
    print(f"Added {other_cols} columns to 'other' features")

    pd.set_option("mode.chained_assignment", "warn")

    return df, metadata

In [30]:
df, metadata = c_additional_informations_nb(df=df, metadata=metadata)

Frequencies for AdditionalInformation columns

                        count  percentage [%]
ai_floating_flywheel
<NA>                    20483       68.018198
Sa plivajućim zamajcem   6209       20.618317
Bez plivajućeg zamajca   3422       11.363485

                          count  percentage [%]
ai_engine_emission_class
Euro 4                     8981       29.823338
Euro 6                     8919       29.617454
Euro 5                     8354        27.74125
Euro 3                     3207       10.649532
Euro 2                      386        1.281796
Euro 1                      260        0.863386
<NA>                          7        0.023245

               count  percentage [%]
ai_propulsion
Prednji        21818       72.451352
4x4             5032       16.709836
Zadnji          2656        8.819818
4x4 reduktor     608        2.018994

                             count  percentage [%]
ai_gearbox_type
Manuelni 5 brzina            10632       35.305838
Manuelni 6 brzina            10185       33.821478
Automatski / poluautomatski   9125       30.301521
Manuelni 4 brzine              154         0.51139
Automatski                      16        0.053131
Poluautomatski                   1        0.003321
<NA>                             1        0.003321

             count  percentage [%]
ai_doors_no
4/5 vrata    27013       89.702464
2/3 vrata     3099       10.290895
<NA>             2        0.006641

             count  percentage [%]
ai_seats_no
5 sedišta    26966        89.54639
4 sedišta     1785        5.927476
7 sedišta      932        3.094906
2 sedišta      344        1.142326
6 sedišta       48        0.159394
3 sedišta       18        0.059773
8 sedišta       13        0.043169
9 sedišta        8        0.026566

                        count  percentage [%]
ai_steering_wheel_side
Levi volan              29970       99.521817
Desni volan               144        0.478183

                     count  percentage [%]
ai_air_conditioning
Automatska klima     20436       67.862124
Manuelna klima        8699       28.886896
Nema klimu             979         3.25098

             count  percentage [%]
ai_color
Siva          9672       32.117952
Crna          7826       25.987913
Bela          4446       14.763897
Plava         2765        9.181776
Crvena        1379        4.579265
Srebrna        740        2.457329
Teget          714         2.37099
Braon          563        1.869562
Zelena         507        1.683602
Bordo          310        1.029422
Zlatna         301        0.999535
Kameleon       155        0.514711
Žuta           147        0.488145
Bež            144        0.478183
Narandžasta    135        0.448296
Smeđa          115        0.381882
Ljubičasta      96        0.318789
Tirkiz          56         0.18596
Krem            43        0.142791

                      count  percentage [%]
ai_interior_material
Štof                  16250       53.961613
Prirodna koža          5187       17.224547
<NA>                   4083       13.558478
Kombinovana koža       3654       12.133891
Drugi                   483        1.603905
Velur                   457        1.517567

                   count  percentage [%]
ai_interior_color
Crna               15362       51.012818
Siva                5785       19.210334
<NA>                5241       17.403865
Druga               1693         5.62197
Bež                 1400           4.649
Smeđa                633        2.102012

                     count  percentage [%]
ai_registered_until
Nije registrovan     12981       43.106196
07.2024.              1492        4.954506
06.2024.              1485        4.931261
05.2024.              1437        4.771867
04.2024.              1418        4.708773
12.2024.              1390        4.615793
08.2024.              1380        4.582586
11.2024.              1363        4.526134
10.2024.              1350        4.482965
09.2024.              1301         4.32025
03.2024.              1250        4.150893
01.2025.               990        3.287507
02.2024.               769         2.55363
02.2025.               483        1.603905
01.2024.               285        0.946404
12.2023.               197        0.654181
11.2023.               105        0.348675
10.2023.               102        0.338713
09.2023.                54        0.179319
08.2023.                51        0.169356
03.2025.                47        0.156074
07.2023.                39        0.129508
05.2023.                30        0.099621
06.2023.                28         0.09298
04.2023.                14         0.04649
03.2023.                13        0.043169
02.2023.                12        0.039849
12.2022.                 7        0.023245
03.2022.                 6        0.019924
11.2022.                 6        0.019924
08.2022.                 5        0.016604
10.2022.                 4        0.013283
09.2022.                 4        0.013283
01.2023.                 3        0.009962
<NA>                     3        0.009962
12.2021.                 2        0.006641
11.2021.                 2        0.006641
07.2022.                 2        0.006641
06.2022.                 1        0.003321
04.2022.                 1        0.003321
05.2021.                 1        0.003321
06.2021.                 1        0.003321

                   count  percentage [%]
ai_vehicle_origin
Domaće tablice     18392       61.074583
Na ime kupca       11513       38.231387
Strane tablice       207        0.687388
<NA>                   2        0.006641

                        count  percentage [%]
ai_ownership
Vodi se na prodavca     12868       42.730956
<NA>                    11746       39.005114
Ne vodi se na prodavca   5500        18.26393

                                count  percentage [%]
ai_damage
Nije oštećen                    29733       98.734808
Oštećen - u voznom stanju         232        0.770406
Oštećen - nije u voznom stanju    144        0.478183
<NA>                                5        0.016604

                     count  percentage [%]
ai_import_country
<NA>                 22520       74.782493
Švajcarska            2035        6.757654
Italija               1370        4.549379
Francuska             1253        4.160855
Nemačka               1075        3.569768
Holandija              667        2.214917
Belgija                367        1.218702
Norveška               259        0.860065
Austrija               203        0.674105
Slovenija              157        0.521352
Španija                 73        0.242412
Švedska                 51        0.169356
Danska                  20        0.066414
Luksemburg              17        0.056452
Velika Britanija        14         0.04649
Češka                   10        0.033207
Slovačka                 6        0.019924
Bugarska                 5        0.016604
Rumunija                 4        0.013283
Mađarska                 3        0.009962
Japan                    2        0.006641
Crna Gora                1        0.003321
Rusija                   1        0.003321
Bosna i Hercegovina      1        0.003321

                 count  percentage [%]
ai_sales_method
<NA>             27075       89.908348
Komisiona         2761        9.168493
Konsignaciona      278        0.923159

           count  percentage [%]
ai_credit
<NA>       28297       93.966262
DA          1817        6.033738

            count  percentage [%]
ai_deposit
<NA>        29641       98.429302
30 €           31        0.102942
3000 €         20        0.066414
6000 €         17        0.056452
4800 €          9        0.029886
...           ...             ...
1948 €          1        0.003321
3225 €          1        0.003321
3380 €          1        0.003321
2610 €          1        0.003321
2445 €          1        0.003321

[212 rows x 2 columns]

                   count  percentage [%]
ai_installment_no
<NA>               29504       97.974364
84                   331        1.099157
60                   137        0.454938
70                    42         0.13947
71                    24        0.079697
36                    15        0.049811
48                    13        0.043169
24                    10        0.033207
42                     8        0.026566
1                      6        0.019924
40                     4        0.013283
72                     3        0.009962
2                      2        0.006641
34                     2        0.006641
11                     2        0.006641
29                     2        0.006641
59                     1        0.003321
46                     1        0.003321
18                     1        0.003321
27                     1        0.003321
33                     1        0.003321
37                     1        0.003321
35                     1        0.003321
16                     1        0.003321
13                     1        0.003321

                       count  percentage [%]
ai_installment_amount
<NA>                   29536       98.080627
115 €                     18        0.059773
150 €                     11        0.036528
94 €                       9        0.029886
140 €                      9        0.029886
...                      ...             ...
304 €                      1        0.003321
227 €                      1        0.003321
700 €                      1        0.003321
18 €                       1        0.003321
99 €                       1        0.003321

[280 rows x 2 columns]

                         count  percentage [%]
ai_interest_free_credit
<NA>                     29928       99.382347
DA                         186        0.617653

            count  percentage [%]
ai_leasing
<NA>        29327       97.386598
DA            787        2.613402

                 count  percentage [%]
ai_cash_payment
<NA>             29831       99.060238
3000 €              10        0.033207
5000 €              10        0.033207
6000 €               8        0.026566
2500 €               8        0.026566
...                ...             ...
19970 €              1        0.003321
3660 €               1        0.003321
23700 €              1        0.003321
2150 €               1        0.003321
1348 €               1        0.003321

[162 rows x 2 columns]

                             count  percentage [%]
ai_range_on_full_battery_km
<NA>                         29987       99.578269
300                             10        0.033207
140                              7        0.023245
150                              6        0.019924
400                              6        0.019924
50                               5        0.016604
120                              5        0.016604
160                              5        0.016604
130                              5        0.016604
230                              4        0.013283
500                              4        0.013283
550                              4        0.013283
240                              3        0.009962
350                              3        0.009962
450                              3        0.009962
280                              3        0.009962
420                              3        0.009962
430                              3        0.009962
100                              3        0.009962
220                              2        0.006641
170                              2        0.006641
270                              2        0.006641
250                              2        0.006641
717                              2        0.006641
460                              1        0.003321
610                              1        0.003321
415                              1        0.003321
340                              1        0.003321
166                              1        0.003321
249                              1        0.003321
225                              1        0.003321
234                              1        0.003321
75                               1        0.003321
635                              1        0.003321
410                              1        0.003321
580                              1        0.003321
260                              1        0.003321
429                              1        0.003321
200                              1        0.003321
493                              1        0.003321
403                              1        0.003321
536                              1        0.003321
330                              1        0.003321
314                              1        0.003321
407                              1        0.003321
360                              1        0.003321
480                              1        0.003321
423                              1        0.003321
275                              1        0.003321
435                              1        0.003321
180                              1        0.003321
165                              1        0.003321
644                              1        0.003321
695                              1        0.003321
520                              1        0.003321
651                              1        0.003321
570                              1        0.003321
290                              1        0.003321
390                              1        0.003321

Stripped 'Euro' and spaces from 'ai_engine_emission_class'
Stripped spaces and mapped 'ai_doors_no' so that True represents 4/5 doors and False 2/3 doors
Stripped 'sedišta' and spaces from 'ai_seats_no
Kept only cars that have steering wheele on the right side
Deleted 'ai_steering_wheel_side' feature (no longer useful)
Stripped spaces from 'ai_registered_until', replaced 'Nije registrovan' with NA and transformed to datetime
Stripped spaces and mapped 'ai_credit' so that True represents 'DA' and False <NA>
Stripped '€' and spaces from 'ai_deposit'
Stripped '€' and spaces from 'ai_installment_amount'
Stripped spaces and mapped 'ai_interest_free_credit' so that True represents 'DA' and False <NA>
Stripped spaces and mappped 'ai_leasing' so that True represents 'DA' and False <NA>
Stripped '€' and spaces from 'ai_cash_payment'
Converted binary columns to boolean
Converted ordinal columns to categorical types (ordinal)
Converted nominal columns to categorical types (nominal)
Converted numerical columns to numerical types
Added ['ai_doors_no', 'ai_credit', 'ai_interest_free_credit', 'ai_leasing'] columns to 'binary' features
Added ['ai_engine_emission_class', 'ai_damage'] columns to 'ordinal' features
Added ['ai_floating_flywheel', 'ai_gearbox_type', 'ai_air_conditioning', 'ai_color', 'ai_interior_material', 'ai_interior_color', 'ai_propulsion', 'ai_vehicle_origin', 'ai_ownership', 'ai_import_country', 'ai_sales_method'] columns to 'nominal' features
Added ['ai_seats_no', 'ai_deposit', 'ai_installment_no', 'ai_installment_amount', 'ai_cash_payment', 'ai_range_on_full_battery_km'] columns to 'numerical' features
Added ['ai_registered_until'] columns to 'other' features

## Testing

### Test individual components

In [31]:
class TestNotebook:
    # @pytest.fixture
    def df(self):
        df = get_dataset_from_db()
        return df

    # @pytest.fixture
    def metadata(self):
        metadata = get_metadata()
        return metadata

    def run_cf_test(self, func_name_ic):
        df, metadata = self.df(), self.metadata()
        func_name_nb = f"{func_name_ic}{nb_utils.NB_SUFFIX}"

        ic_obj = InitialCleaner(PipelineMetadata())

        # Get function from class object from .py file
        func_ic = getattr(ic_obj, func_name_ic)
        # Get function defined in this notebook
        func_nb = globals()[func_name_nb]

        df_ic, metadata_ic = func_ic(df=df, metadata=metadata)
        df_nb, metadata_nb = func_nb(df=df, metadata=metadata)

        pd.testing.assert_frame_equal(df_ic, df_nb)
        assert metadata_ic == metadata_nb

        # Test features info for duplicates
        nb_utils.test_features_info_duplicates(metadata_nb.features_info)
        nb_utils.test_features_info_duplicates(metadata_ic.features_info)

    def test_c_general_informations(self):
        df, metadata = self.df(), self.metadata()

        ic_obj = InitialCleaner(PipelineMetadata())

        df_ic, metadata_ic = ic_obj.initial_preparation(df=df, metadata=metadata)
        df_nb, metadata_nb = initial_preparation_nb(df=df, metadata=metadata)

        df_ic, metadata_ic = ic_obj.c_general_informations(
            df=df_ic, metadata=metadata_ic
        )
        df_nb, metadata_nb = c_general_informations_nb(df=df_nb, metadata=metadata_nb)

        pd.testing.assert_frame_equal(df_ic, df_nb)
        assert metadata_ic == metadata_nb

        # Test features info for duplicates
        nb_utils.test_features_info_duplicates(metadata_nb.features_info)
        nb_utils.test_features_info_duplicates(metadata_ic.features_info)

    def test_c_additional_informations(self):
        df, metadata = self.df(), self.metadata()

        ic_obj = InitialCleaner(PipelineMetadata())

        df_ic, metadata_ic = ic_obj.initial_preparation(df=df, metadata=metadata)
        df_nb, metadata_nb = initial_preparation_nb(df=df, metadata=metadata)

        df_ic, metadata_ic = ic_obj.c_additional_informations(
            df=df_ic, metadata=metadata_ic
        )
        df_nb, metadata_nb = c_additional_informations_nb(
            df=df_nb, metadata=metadata_nb
        )

        pd.testing.assert_frame_equal(df_ic, df_nb)
        assert metadata_ic == metadata_nb

        # Test features info for duplicates
        nb_utils.test_features_info_duplicates(metadata_nb.features_info)
        nb_utils.test_features_info_duplicates(metadata_ic.features_info)

    def start(self):
        # Get all methods in UACleaner class with prefix 'cf_'
        cf_methods = [
            method
            for method in dir(InitialCleaner)
            if method.startswith(nb_utils.CF_PREFIX)
            and callable(getattr(InitialCleaner, method))
        ]

        # Run tests for each cf_method
        for cf_method in cf_methods:
            logging.info(cf_method)
            self.run_cf_test(cf_method)

        self.test_c_general_informations()
        self.test_c_additional_informations()

In [ ]:
test_obj = TestNotebook()
test_obj.start()

### Test whole component

In [33]:
@preprocess_init
def test_whole_component(df: Dataset, metadata: Metadata):
    df_ic, metadata_ic = InitialCleaner.clean(df=get_dataset_from_db(), metadata=Metadata())

    pd.testing.assert_frame_equal(df, df_ic)
    assert metadata == metadata_ic

In [34]:
test_whole_component(df=df, metadata=metadata)

## Save cleaned data and metadata in artifacts

In [35]:
nb_utils.save_artifacts(
    nb_utils.STAGES_DICT[STAGE]["name"],
    nb_utils.STAGES_DICT[STAGE]["folder_path"],
    df,
    metadata,
)