In [1]:
from typing import Tuple

import numpy as np
import pandas as pd
from IPython.core.display import Markdown
from IPython.core.display_functions import display

import notebooks.utils as nb_utils
import src.config as config
from src.config import FeaturesInfo
from src.db.broker import DbBroker
from src.features.univariate_analysis import UACleaner
from src.features.utils import downcast_nonnumerical_dtypes
from src.logger import logging
from src.utils import initialize_features_info, preprocess_init

In [2]:
%load_ext autoreload
%autoreload 2

## Get dataset and metadata

In [3]:
def get_dataset_from_db() -> pd.DataFrame:
    db_broker = DbBroker()
    df = pd.read_sql(
        db_broker.get_all_listings_statement(),
        db_broker.engine,
        dtype_backend=config.DTYPE_BACKEND,
        index_col=config.INDEX,
    )
    df = df.rename(str, axis="columns")
    db_broker.engine.dispose()
    return df


def get_metadata() -> FeaturesInfo:
    features_info = initialize_features_info()
    return features_info

In [4]:
df = get_dataset_from_db()
features_info = get_metadata()

## Dataset info

In [5]:
print("Entire dataset")
print(f"Duplicate rows: {df.duplicated().sum()}")
print(20 * "-")
df.info()

Entire dataset
Duplicate rows: 0
--------------------
<class 'pandas.core.frame.DataFrame'>
Index: 30788 entries, 9249043 to 23246511
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      30788 non-null  string
 1   short_url                 30788 non-null  string
 2   price                     30788 non-null  string
 3   listing_followers_no      30788 non-null  string
 4   location                  30788 non-null  string
 5   images_no                 30788 non-null  string
 6   safety                    30788 non-null  string
 7   equipment                 30788 non-null  string
 8   other                     30788 non-null  string
 9   description               30788 non-null  string
 10  id_1                      30788 non-null  Int64
 11  condition                 30788 non-null  string
 12  brand                     30788 non-null  string
 13  model                     30788 non-null  string
 14  production_year           30788 non-null  string
 15  kilometerage              30788 non-null  string
 16  body_type                 30788 non-null  string
 17  fuel_type                 30788 non-null  string
 18  engine_capacity           30607 non-null  string
 19  engine_power              30788 non-null  string
 20  fixed_price               0 non-null      string
 21  trade_in                  30788 non-null  string
 22  certified                 1692 non-null   string
 23  battery_capacity          181 non-null    string
 24  id_2                      30788 non-null  Int64
 25  floating_flywheel         9664 non-null   string
 26  engine_emission_class     30781 non-null  string
 27  propulsion                30788 non-null  string
 28  gearbox_type              30787 non-null  string
 29  doors_no                  30786 non-null  string
 30  seats_no                  30788 non-null  string
 31  steering_wheel_side       30788 non-null  string
 32  air_conditioning          30788 non-null  string
 33  color                     30788 non-null  string
 34  interior_material         26649 non-null  string
 35  interior_color            25487 non-null  string
 36  registered_until          30785 non-null  string
 37  vehicle_origin            30786 non-null  string
 38  ownership                 18458 non-null  string
 39  damage                    30783 non-null  string
 40  import_country            7739 non-null   string
 41  sales_method              3101 non-null   string
 42  credit                    2065 non-null   string
 43  deposit                   558 non-null    string
 44  installment_no            718 non-null    string
 45  installment_amount        693 non-null    string
 46  interest_free_credit      187 non-null    string
 47  leasing                   977 non-null    string
 48  cash_payment              332 non-null    string
 49  range_on_full_battery_km  149 non-null    string
dtypes: Int64(2), string(48)
memory usage: 12.1 MB

## Entire dataset cleaning

### Initial clean

In [6]:
@preprocess_init
def initial_clean_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    df.columns = df.columns.astype("string")
    print("Transformed column type to string")

    # Prefix columns from table general_informations with "gi_"
    # and additional_informations with "ai"
    id_1_col_idx = df.columns.get_loc("id_1")
    id_2_col_idx = df.columns.get_loc("id_2")

    columns_from_gi = df.columns[id_1_col_idx + 1 : id_2_col_idx].values
    columns_from_ai = df.columns[id_2_col_idx + 1 :].values
        
    df.rename(
        columns=dict(zip(columns_from_gi, "gi_" + columns_from_gi)), inplace=True
    )
    print("Added prefix 'gi_' to columns from table general_informations")
    df.rename(
        columns=dict(zip(columns_from_ai, "ai_" + columns_from_ai)), inplace=True
    )
    print("Added prefix 'ai_' to columns from table additional_informations")

    del df["id_1"], df["id_2"]
    print("Removed redundant ids")

    del df["gi_fixed_price"]
    print("Removing gi_fixed_price that is poorly scraped")

    return df, features_info

In [7]:
df, features_info = initial_clean_nb(df=df, features_info=features_info)

Transformed column type to string
Added prefix 'gi_' to columns from table general_informations
Added prefix 'ai_' to columns from table additional_informations
Removed redundant ids
Removing gi_fixed_price that is poorly scraped

### Feature 'name'

In [8]:
@preprocess_init
def cf_name_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    print("Counts by frequencies for the first 20 categories")
    display(df[feature_name].value_counts().head(20))
    print()

    sum_irregular_name_rows = (
        df[feature_name].str.contains("ucesc|učešć", case=False).sum()
    )
    print(f"Irregular 'name' rows count: {sum_irregular_name_rows}")
    display(Markdown("This feature will be left for the Multivariate analysis."))
    print()

    features_info["other"].append(feature_name)
    print(f"Added {feature_name} to 'other' features")
    
    return df, features_info

In [9]:
df, features_info = cf_name_nb(df=df, features_info=features_info)

First 5 rows

                                         name
id
9249043               Volvo 940 DIPLOMATA NOV
9650557  SsangYong Kyron 2,0 XDI4x4RESTAJLING
9657017            Audi A4 2.5 TDI Quattro CH
9755964        Dacia Sandero 1.0 TCE 90 LAGER
9921885             Zastava 750 presla 38.400

Counts by frequencies for the first 20 categories

name
Audi A4                 179
Volkswagen Golf 5       123
Audi A6                 119
BMW 320                 115
Volkswagen Polo         114
Volkswagen Passat B6    106
Audi A3                 105
Renault Megane          102
Škoda Octavia           100
Volkswagen Golf 6        98
Volkswagen Golf 7        87
Ford Focus               82
Renault Clio             79
BMW 520                  73
Ford Fiesta              69
Fiat Punto               68
Opel Corsa D             68
Peugeot 308              67
Citroen C5               65
Audi A4 2.0 TDI          64
Name: count, dtype: Int64

Irregular 'name' rows count: 18

This feature will be left for the Multivariate analysis.

Added name to 'other' features

### Feature 'short_url'

In [10]:
@preprocess_init
def cf_short_url_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("Display first 5 rows")
    display(df[[feature_name]].head())
    print()

    features_info["other"].append(feature_name)
    print(f"Added {feature_name} to 'other' features")
    
    return df, features_info

In [11]:
df, features_info = cf_short_url_nb(df=df, features_info=features_info)

Display first 5 rows

                                                 short_url
id
9249043  https://www.polovniautomobili.com/auto-oglasi/...
9650557  https://www.polovniautomobili.com/auto-oglasi/...
9657017  https://www.polovniautomobili.com/auto-oglasi/...
9755964  https://www.polovniautomobili.com/auto-oglasi/...
9921885  https://www.polovniautomobili.com/auto-oglasi/...

Added short_url to 'other' features

### Feature 'price'

In [12]:
@preprocess_init
def cf_price_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    df[feature_name] = pd.to_numeric(
        df[feature_name].str.slice(stop=-1).str.replace(".", ""),
        errors="raise",
        downcast="unsigned",
    )
    print("Removed '.' from values and transformed to numerical")
    print()

    print("Cars where price = 1")
    display(df[df[feature_name] == 1])
    display(
        Markdown(
            "These are cars where price='Po dogovoru' on the website, so that means they didn't have a price to begin with and they will be dropped."
        )
    )
    print()

    df = df[df[feature_name] != 1]
    print("Removed cars that had price = 1")

    print("Cars where price = 'Po dogovoru'")
    display(df[df[feature_name] == "Po dogovoru"])
    print()

    cars_price_less_than_100 = df.loc[df[feature_name] < 100, feature_name]
    print("Short url of cars that had price < 100")
    display(df.loc[cars_price_less_than_100.index, "short_url"].tolist())
    print()

    display(
        Markdown(
            "All of these cars are going to be deleted because they actually don't have a value of price (their current value is the result of poor handling the case when price is set by an agreement)."
        )
    )

    df = df.drop(cars_price_less_than_100.index, axis=0)
    print("Removed cars that had price < 100")

    return df, features_info

In [13]:
df, features_info = cf_price_nb(df=df, features_info=features_info)

First 5 rows

            price
id
9249043  18.000 €
9650557   4.500 €
9657017   3.300 €
9755964  16.100 €
9921885  12.999 €

Removed '.' from values and transformed to numerical

Cars where price = 1

,name,short_url,price,listing_followers_no,location,images_no,safety,equipment,other,description,...,ai_import_country,ai_sales_method,ai_credit,ai_deposit,ai_installment_no,ai_installment_amount,ai_interest_free_credit,ai_leasing,ai_cash_payment,ai_range_on_full_battery_km
id,,,,,,,,,,,,,,,,,,,,,
23220124,Audi A4 RATA 183e BEZ UCESCA,https://www.polovniautomobili.com/auto-oglasi/...,1,2,Beograd,39,"Airbag za vozača,Airbag za suvozača,Bočni airb...","Servo volan,Daljinsko zaključavanje,Tonirana s...",,,...,<NA>,<NA>,DA,<NA>,<NA>,183 €,<NA>,<NA>,<NA>,<NA>
23220566,Renault Scenic RATA 148e BEZ UCESCA,https://www.polovniautomobili.com/auto-oglasi/...,1,,Beograd,28,"Airbag za vozača,Airbag za suvozača,Bočni airb...","Servo volan,Multifunkcionalni volan,Tempomat,D...",,VOZILO U DOLASKU ...............................,...,<NA>,<NA>,DA,<NA>,<NA>,148 €,<NA>,<NA>,<NA>,<NA>
23221119,Opel Astra J RATA 148e BEZ UCESCA,https://www.polovniautomobili.com/auto-oglasi/...,1,1,Beograd,14,"Airbag za vozača,Airbag za suvozača,Bočni airb...","Servo volan,Multifunkcionalni volan,Tempomat,D...",,Vozilo u dolasku ...............................,...,<NA>,<NA>,DA,<NA>,<NA>,148 €,<NA>,<NA>,<NA>,<NA>
23228430,Toyota Yaris RATA 78e BEZ UCESCA,https://www.polovniautomobili.com/auto-oglasi/...,1,1,Beograd,17,"Airbag za vozača,Airbag za suvozača,Bočni airb...","Servo volan,Daljinsko zaključavanje,Putni raču...",,VOZILO U DOLASKU,...,<NA>,<NA>,DA,<NA>,<NA>,78 €,<NA>,<NA>,<NA>,<NA>
23230448,Peugeot 306,https://www.polovniautomobili.com/auto-oglasi/...,1,2,Landol,19,"Airbag za vozača,Airbag za suvozača,ABS","Metalik boja,Servo volan,Tonirana stakla,Radio...",Garažiran,,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

These are cars where price='Po dogovoru' on the website, so that means they didn't have a price to begin with and they will be dropped.

Removed cars that had price = 1
Cars where price = 'Po dogovoru'

Empty DataFrame
Columns: [name, short_url, price, listing_followers_no, location, images_no, safety, equipment, other, description, gi_condition, gi_brand, gi_model, gi_production_year, gi_kilometerage, gi_body_type, gi_fuel_type, gi_engine_capacity, gi_engine_power, gi_trade_in, gi_certified, gi_battery_capacity, ai_floating_flywheel, ai_engine_emission_class, ai_propulsion, ai_gearbox_type, ai_doors_no, ai_seats_no, ai_steering_wheel_side, ai_air_conditioning, ai_color, ai_interior_material, ai_interior_color, ai_registered_until, ai_vehicle_origin, ai_ownership, ai_damage, ai_import_country, ai_sales_method, ai_credit, ai_deposit, ai_installment_no, ai_installment_amount, ai_interest_free_credit, ai_leasing, ai_cash_payment, ai_range_on_full_battery_km]
Index: []

[0 rows x 47 columns]

Short url of cars that had price < 100

['https://www.polovniautomobili.com/auto-oglasi/22675403/Opel Meriva RATA 78e BEZ UCESCA',
 'https://www.polovniautomobili.com/auto-oglasi/22681873/Ford Focus RATA 83e BEZ UČEŠĆA',
 'https://www.polovniautomobili.com/auto-oglasi/22681890/Opel Astra H RATA 99e BEZ UČEŠĆA',
 'https://www.polovniautomobili.com/auto-oglasi/23225453/Zastava Yugo Tempo']

All of these cars are going to be deleted because they actually don't have a value of price (their current value is the result of poor handling the case when price is set by an agreement).

Removed cars that had price < 100

### Feature 'listing_followers_no'

In [14]:
@preprocess_init
def cf_listing_followers_no_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    if (df[feature_name] == "").sum() == pd.to_numeric(
        df[feature_name], downcast="unsigned"
    ).isna().sum():
        df[feature_name] = pd.to_numeric(df[feature_name], downcast="unsigned")
    else:
        raise ValueError(
            "There is a listing_followers_no value that is probably incorrectly parsed."
        )
    print("Transformed to numerical")

    features_info["numerical"].append(feature_name)
    print(f"Added '{feature_name}' to numerical features'")

    return df, features_info

In [15]:
df, features_info = cf_listing_followers_no_nb(df=df, features_info=features_info)

First 5 rows

        listing_followers_no
id
9249043                   58
9650557                   87
9657017                  151
9755964                   50
9921885                  421

Transformed to numerical
Added 'listing_followers_no' to numerical features'

### Feature 'location'

In [16]:
@preprocess_init
def cf_location_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    df[feature_name] = pd.Categorical(df[feature_name], ordered=False)
    print(f"Converted '{feature_name}' to categorical type (nominal)")

    features_info["nominal"].append(feature_name)
    print(f"Added '{feature_name}' to 'nominal' features")
    
    return df, features_info

In [17]:
df, features_info = cf_location_nb(df=df, features_info=features_info)

First 5 rows

         location
id
9249043     Vrbas
9650557  Novi Sad
9657017   Loznica
9755964  Novi Sad
9921885     Zemun

Converted 'location' to categorical type (nominal)
Added 'location' to 'nominal' features

### Feature 'images_no'

In [18]:
@preprocess_init
def cf_images_no_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    na_count = pd.to_numeric(df[feature_name], downcast="unsigned").isna().sum()
    if na_count > 0:
        raise ValueError(f"Check why {feature_name} contains {na_count} values!")
    print("Checked if casting would be is correct")

    df[feature_name] = pd.to_numeric(df[feature_name], downcast="unsigned")
    print("Transformed to numerical")

    features_info["numerical"].append(feature_name)
    print(f"Added {feature_name} to 'numerical' features")

    return df, features_info

In [19]:
df, features_info = cf_images_no_nb(df=df, features_info=features_info)

First 5 rows

        images_no
id
9249043        30
9650557        17
9657017        19
9755964         9
9921885        15

Checked if casting would be is correct
Transformed to numerical
Added images_no to 'numerical' features

### Feature 'safety'

In [20]:
@preprocess_init
def cf_safety_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    prefix = "s_"

    # Create data frame with dummy columns
    df_safety_dummies = df[feature_name].str.get_dummies(sep=",").add_prefix(prefix)
    df = pd.concat([df, df_safety_dummies], axis=1)
    print("Extended the data frame with dummy columns")

    del df[feature_name]
    print(f"Deleted {feature_name} column") 

    safety_columns = [col for col in df.columns if col.startswith(prefix)]
    df[safety_columns] = df[safety_columns].astype("boolean")
    print("Converted all remaining safety columns to boolean")

    features_info["binary"].extend(safety_columns)
    print("Added all remaining safety columns to 'binary' features")

    return df, features_info

In [21]:
df, features_info = cf_safety_nb(df=df, features_info=features_info)

First 5 rows

                                                    safety
id
9249043
9650557  Airbag za vozača,Airbag za suvozača,Bočni airb...
9657017  Airbag za vozača,Airbag za suvozača,Bočni airb...
9755964  Airbag za vozača,Airbag za suvozača,Bočni airb...
9921885

Extended the data frame with dummy columns
Deleted safety column
Converted all remaining safety columns to boolean
Added all remaining safety columns to 'binary' features

### Feature 'equipment'

In [22]:
@preprocess_init
def cf_equipment_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    prefix = "e_"

    # Create data frame with dummy columns
    df_equipment_dummies = df[feature_name].str.get_dummies(sep=",").add_prefix(prefix)
    df = pd.concat([df, df_equipment_dummies], axis=1)
    print("Extended the data frame with dummy columns")

    del df[feature_name]
    print(f"Deleted {feature_name} column") 

    equipment_columns = df_equipment_dummies.columns.tolist()

    df[equipment_columns] = df[equipment_columns].astype("boolean")
    print("Converted all remaining equipment columns to boolean")

    features_info["binary"].extend(equipment_columns)
    print("Added all remaining equipment columns to 'binary' features")

    return df, features_info

In [23]:
df, features_info = cf_equipment_nb(df=df, features_info=features_info)

First 5 rows

                                                 equipment
id
9249043
9650557  Metalik boja,Branici u boji auta,Servo volan,M...
9657017  Metalik boja,Branici u boji auta,Servo volan,T...
9755964  Metalik boja,Branici u boji auta,Servo volan,M...
9921885                                    Svetla za maglu

Extended the data frame with dummy columns
Deleted equipment column
Converted all remaining equipment columns to boolean
Added all remaining equipment columns to 'binary' features

### Feature 'other'

In [24]:
@preprocess_init
def cf_other_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    prefix = "o_"

    # Create data frame with dummy columns
    df_other_dummies = df[feature_name].str.get_dummies(sep=",").add_prefix(prefix)
    df = pd.concat([df, df_other_dummies], axis=1)
    print("Extended the data frame with dummy columns")

    del df[feature_name]
    print(f"Deleted {feature_name} column") 

    other_columns = df_other_dummies.columns.tolist()
    
    df[other_columns] = df[other_columns].astype("boolean")
    print("Converted all remaining other columns to boolean")
    
    features_info["binary"].extend(other_columns)
    print("Added all other columns to 'binary' features")

    return df, features_info

In [25]:
df, features_info = cf_other_nb(df=df, features_info=features_info)

First 5 rows

                                                     other
id
9249043
9650557                                     Rezervni ključ
9657017                     Servisna knjiga,Rezervni ključ
9755964  Prvi vlasnik,Kupljen nov u Srbiji,Garancija,Ga...
9921885  Kupljen nov u Srbiji,Garancija,Garažiran,Servi...

Extended the data frame with dummy columns
Deleted other column
Converted all remaining other columns to boolean
Added all other columns to 'binary' features

### Feature 'description'

In [26]:
@preprocess_init
def cf_description_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    feature_name = nb_utils.get_feature_name()

    print("First 5 rows")
    display(df[[feature_name]].head())
    print()

    features_info["other"].append(feature_name)
    print(f"Added '{feature_name}' to 'other' features")

    return df, features_info

In [27]:
df, features_info = cf_description_nb(df=df, features_info=features_info)

First 5 rows

                                               description
id
9249043  DIPLOMATA,JEDINSTVEN SA MALOM KILOMETRAZOM,(25...
9650557                       Vozilo u odlicnom stanju ...
9657017  - A4 Quattro - manuelni menjac
- Uvoz iz Svjca...
9755964  NOVO VOZILO, ODLICNI USLOVI FINANSIRANJA .
OVL...
9921885  Fica ima pravih 38.400 km !!!

Nikad nije nist...

Added 'description' to 'other' features

### "GeneralInformation" features

In [28]:
@preprocess_init
def c_general_informations_nb(
    df: pd.DataFrame, features_info: FeaturesInfo
) -> Tuple[pd.DataFrame, FeaturesInfo]:
    pd.set_option("mode.chained_assignment", None)

    gi_columns = [
        "gi_condition",
        "gi_brand",
        "gi_model",
        "gi_production_year",
        "gi_kilometerage",
        "gi_body_type",
        "gi_fuel_type",
        "gi_engine_capacity",
        "gi_engine_power",
        "gi_trade_in",
        "gi_certified",
        "gi_battery_capacity",
    ]

    print("Frequencies for GeneralInformation columns")
    for col in gi_columns:
        display(nb_utils.get_value_counts_freq_with_perc(df, col))

    display(
        Markdown(
            "Only used cars will be left in the dataset, so all new cars are going to be deleted."
        )
    )

    new_cars_cond = df.gi_condition == "Novo vozilo"
    df = df.loc[~new_cars_cond, :]
    print(f"Deleted from df {new_cars_cond.sum()} rows that represent new cars")

    del df["gi_condition"]
    print("Deleted 'gi_condition' feature")

    df.gi_kilometerage = pd.to_numeric(
        df.gi_kilometerage.str.rstrip("km").str.replace(".", ""), downcast="unsigned"
    )
    print("Stripped 'km', removed '.' and converted 'gi_kilometerage' to numerical")

    df.gi_production_year = pd.to_numeric(
        df.gi_production_year.str.rstrip("."), downcast="unsigned"
    )
    print("Removed '.' and converted 'gi_production_year' to numerical")

    df.gi_engine_capacity = pd.to_numeric(
        df.gi_engine_capacity.str.rstrip("cm3"), errors="raise", downcast="unsigned"
    )
    print("Stripped 'cm3' and converted 'gi_engine_capacity' to numerical")

    df.gi_engine_power = pd.to_numeric(
        df.gi_engine_power.str.split("/", n=1).str.get(0), downcast="unsigned"
    )
    print("Extracted only value of kW (ignore KS which stands for horse powers)")

    df.gi_battery_capacity = pd.to_numeric(
        df.gi_battery_capacity.str.rstrip("kWh"), downcast="unsigned"
    )
    print("Stripped 'kWh' and converted 'gi_battery_capacity' to numerical")

    nominal_cols = [
        "gi_brand",
        "gi_model",
        "gi_body_type",
        "gi_fuel_type",
        "gi_trade_in",
    ]
    numerical_cols = [
        "gi_kilometerage",
        "gi_production_year",
        "gi_engine_capacity",
        "gi_engine_power",
        "gi_battery_capacity",
    ]
    other_cols = ["gi_certified"]

    for col in nominal_cols:
        df[col] = pd.Categorical(df[col], ordered=False)
    print("Converted nominal columns to categorical type (nominal)")

    features_info["nominal"].extend(nominal_cols)
    print(f"Added {nominal_cols} columns to 'nominal' features")

    features_info["numerical"].extend(numerical_cols)
    print(f"Added {numerical_cols} columns to 'numerical' features")

    features_info["other"].extend(other_cols)
    print(f"Added {other_cols} columns to 'other' features")

    pd.set_option("mode.chained_assignment", "warn")

    return df, features_info

In [29]:
df, features_info = c_general_informations_nb(df=df, features_info=features_info)

Frequencies for GeneralInformation columns

                count  percentage [%]
gi_condition
Polovno vozilo  30135       97.907664
Novo vozilo       644        2.092336

             count  percentage [%]
gi_brand
Volkswagen    4811       15.630787
Audi          3189        10.36096
BMW           2770        8.999643
Opel          2377        7.722798
Peugeot       2055         6.67663
...            ...             ...
Oldsmobile       1        0.003249
Jinpeng          1        0.003249
Lamborghini      1        0.003249
Buick            1        0.003249
Acura            1        0.003249

[74 rows x 2 columns]

            count  percentage [%]
gi_model
A4            866        2.813607
Octavia       630         2.04685
A3            628        2.040352
A6            621        2.017609
Golf 7        574        1.864908
...           ...             ...
ML 420          1        0.003249
469             1        0.003249
bZ4X            1        0.003249
GLE 63 AMG      1        0.003249
Quattro         1        0.003249

[950 rows x 2 columns]

                    count  percentage [%]
gi_production_year
2008.                1984        6.445953
2011.                1976        6.419962
2010.                1871         6.07882
2009.                1838        5.971604
2007.                1833        5.955359
...                   ...             ...
1957.                   1        0.003249
1961.                   1        0.003249
1973.                   1        0.003249
1958.                   1        0.003249
1964.                   1        0.003249

[63 rows x 2 columns]

                 count  percentage [%]
gi_kilometerage
250.000 km         379        1.231359
230.000 km         334        1.085155
220.000 km         326        1.059164
0 km               323        1.049417
200.000 km         303        0.984437
...                ...             ...
183.548 km           1        0.003249
280.200 km           1        0.003249
77.080 km            1        0.003249
232.788 km           1        0.003249
264.239 km           1        0.003249

[11538 rows x 2 columns]

                       count  percentage [%]
gi_body_type
Hečbek                 10419       33.851002
Džip/SUV                6346       20.617954
Limuzina                5634       18.304688
Karavan                 4603       14.955002
Monovolumen (MiniVan)   2443         7.93723
Kupe                     809        2.628415
Kabriolet/Roadster       315        1.023425
Pickup                   208        0.675785
                           2        0.006498

                         count  percentage [%]
gi_fuel_type
Dizel                    20740       67.383606
Benzin                    7787       25.299717
Benzin + Gas (TNG)        1136        3.690828
Benzin + Metan (CNG)       555        1.803177
Hibridni pogon             327        1.062413
Električni pogon           181        0.588063
Hibridni pogon (Benzin)     35        0.113714
Hibridni pogon (Dizel)      14        0.045486
Plug-in hibrid               3        0.009747
Metan CNG                    1        0.003249

                    count  percentage [%]
gi_engine_capacity
1968 cm3             3569       11.595568
1598 cm3             2743         8.91192
1995 cm3             2111        6.858572
1560 cm3             1474        4.788979
1461 cm3             1219        3.960493
...                   ...             ...
1480 cm3                1        0.003249
190 cm3                 1        0.003249
699 cm3                 1        0.003249
5216 cm3                1        0.003249
1459 cm3                1        0.003249

[617 rows x 2 columns]

                 count  percentage [%]
gi_engine_power
110/150 (kW/KS)   2513        8.164658
103/140 (kW/KS)   1923        6.247766
85/116 (kW/KS)    1653        5.370545
77/105 (kW/KS)    1439        4.675266
81/110 (kW/KS)    1334        4.334124
...                ...             ...
60/81 (kW/KS)        1        0.003249
146/199 (kW/KS)      1        0.003249
500/680 (kW/KS)      1        0.003249
167/227 (kW/KS)      1        0.003249
316/430 (kW/KS)      1        0.003249

[310 rows x 2 columns]

                    count  percentage [%]
gi_trade_in
NE                  22580       73.361708
DA                   3740       12.151142
DA (za jeftinije)    2827        9.184834
DA (za skuplje)       991        3.219728
DA (u istoj ceni)     438        1.423048
DA (staro za novo)    203        0.659541

                count  percentage [%]
gi_certified
<NA>            29087       94.502745
Nije atestiran    164        0.532831
do: 10.2027        54        0.175444
do: 07.2027        49        0.159199
do: 01.2028        49        0.159199
...               ...             ...
do: 10.2032         1        0.003249
do: 10.2030         1        0.003249
do: 04.2031         1        0.003249
do: 10.2029         1        0.003249
do: 04.2033         1        0.003249

[109 rows x 2 columns]

                     count  percentage [%]
gi_battery_capacity
<NA>                 30598       99.411937
17 kWh                  11        0.035739
75 kWh                  10         0.03249
58 kWh                   7        0.022743
22 kWh                   7        0.022743
...                    ...             ...
21.6 kWh                 1        0.003249
38.3 kWh                 1        0.003249
72.6 kWh                 1        0.003249
36.6 kWh                 1        0.003249
20 kWh                   1        0.003249

[84 rows x 2 columns]

Only used cars will be left in the dataset, so all new cars are going to be deleted.

Deleted from df 644 rows that represent new cars
Deleted 'gi_condition' feature
Stripped 'km', removed '.' and converted 'gi_kilometerage' to numerical
Removed '.' and converted 'gi_production_year' to numerical
Stripped 'cm3' and converted 'gi_engine_capacity' to numerical
Extracted only value of kW (ignore KS which stands for horse powers)
Stripped 'kWh' and converted 'gi_battery_capacity' to numerical
Converted nominal columns to categorical type (nominal)
Added ['gi_brand', 'gi_model', 'gi_body_type', 'gi_fuel_type', 'gi_trade_in'] columns to 'nominal' features
Added ['gi_kilometerage', 'gi_production_year', 'gi_engine_capacity', 'gi_engine_power', 'gi_battery_capacity'] columns to 'numerical' features
Added ['gi_certified'] columns to 'other' features

In [30]:
df.info(max_cols=200, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 30135 entries, 9249043 to 23246511
Data columns (total 171 columns):
 #    Column                                   Non-Null Count  Dtype
---   ------                                   --------------  -----
 0    name                                     30135 non-null  string
 1    short_url                                30135 non-null  string
 2    price                                    30135 non-null  UInt32
 3    listing_followers_no                     27334 non-null  UInt16
 4    location                                 30135 non-null  category
 5    images_no                                30135 non-null  UInt8
 6    description                              30135 non-null  string
 7    gi_brand                                 30135 non-null  category
 8    gi_model                                 30135 non-null  category
 9    gi_production_year                       30135 non-null  UInt16
 10   gi_kilometerage                          30135 non-null  UInt32
 11   gi_body_type                             30135 non-null  category
 12   gi_fuel_type                             30135 non-null  category
 13   gi_engine_capacity                       29977 non-null  UInt32
 14   gi_engine_power                          30135 non-null  uint16
 15   gi_trade_in                              30135 non-null  category
 16   gi_certified                             1687 non-null   string
 17   gi_battery_capacity                      157 non-null    Float64
 18   ai_floating_flywheel                     9637 non-null   string
 19   ai_engine_emission_class                 30128 non-null  string
 20   ai_propulsion                            30135 non-null  string
 21   ai_gearbox_type                          30134 non-null  string
 22   ai_doors_no                              30133 non-null  string
 23   ai_seats_no                              30135 non-null  string
 24   ai_steering_wheel_side                   30135 non-null  string
 25   ai_air_conditioning                      30135 non-null  string
 26   ai_color                                 30135 non-null  string
 27   ai_interior_material                     26049 non-null  string
 28   ai_interior_color                        24891 non-null  string
 29   ai_registered_until                      30132 non-null  string
 30   ai_vehicle_origin                        30133 non-null  string
 31   ai_ownership                             18386 non-null  string
 32   ai_damage                                30130 non-null  string
 33   ai_import_country                        7596 non-null   string
 34   ai_sales_method                          3044 non-null   string
 35   ai_credit                                1817 non-null   string
 36   ai_deposit                               473 non-null    string
 37   ai_installment_no                        610 non-null    string
 38   ai_installment_amount                    578 non-null    string
 39   ai_interest_free_credit                  186 non-null    string
 40   ai_leasing                               787 non-null    string
 41   ai_cash_payment                          283 non-null    string
 42   ai_range_on_full_battery_km              127 non-null    string
 43   s_ABS                                    30135 non-null  boolean
 44   s_ASR                                    30135 non-null  boolean
 45   s_Airbag za suvozača                     30135 non-null  boolean
 46   s_Airbag za vozača                       30135 non-null  boolean
 47   s_Alarm                                  30135 non-null  boolean
 48   s_Asistencija praćenja trake             30135 non-null  boolean
 49   s_Automatsko kočenje                     30135 non-null  boolean
 50   s_Blokada motora                         30135 non-null  boolean
 51   s_Bočni airbag                           30135 non-null  boolean
 52   s_Centralno zaključavanje                30135 non-null  boolean
 53   s_Child lock                             30135 non-null  boolean
 54   s_ESP                                    30135 non-null  boolean
 55   s_Kodiran ključ                          30135 non-null  boolean
 56   s_Mehanička zaštita                      30135 non-null  boolean
 57   s_OBD zaštita                            30135 non-null  boolean
 58   s_Senzor mrtvog ugla                     30135 non-null  boolean
 59   s_Ulazak bez ključa                      30135 non-null  boolean
 60   s_Vazdušni jastuci za kolena             30135 non-null  boolean
 61   e_360 kamera                             30135 non-null  boolean
 62   e_AUX konekcija                          30135 non-null  boolean
 63   e_Adaptivna svetla                       30135 non-null  boolean
 64   e_Adaptivni tempomat                     30135 non-null  boolean
 65   e_Aluminijumske felne                    30135 non-null  boolean
 66   e_Ambijentalno osvetljenje               30135 non-null  boolean
 67   e_Android Auto                           30135 non-null  boolean
 68   e_Apple CarPlay                          30135 non-null  boolean
 69   e_Asistencija za kretanje na uzbrdici    30135 non-null  boolean
 70   e_Automatsko parkiranje                  30135 non-null  boolean
 71   e_Automatsko zatamnjivanje retrovizora   30135 non-null  boolean
 72   e_Autonomna vožnja                       30135 non-null  boolean
 73   e_Bluetooth                              30135 non-null  boolean
 74   e_Branici u boji auta                    30135 non-null  boolean
 75   e_Brisači prednjih farova                30135 non-null  boolean
 76   e_CD changer                             30135 non-null  boolean
 77   e_DPF filter                             30135 non-null  boolean
 78   e_DVD/TV                                 30135 non-null  boolean
 79   e_Daljinsko zaključavanje                30135 non-null  boolean
 80   e_Digitalni radio                        30135 non-null  boolean
 81   e_Dnevna svetla                          30135 non-null  boolean
 82   e_Držači za čaše                         30135 non-null  boolean
 83   e_Ekran na dodir                         30135 non-null  boolean
 84   e_Električni podizači                    30135 non-null  boolean
 85   e_Električni retrovizori                 30135 non-null  boolean
 86   e_Elektro otvaranje prtljažnika          30135 non-null  boolean
 87   e_Elektro podesiva sedišta               30135 non-null  boolean
 88   e_Elektro sklopivi retrovizori           30135 non-null  boolean
 89   e_Elektro zatvaranje prtljažnika         30135 non-null  boolean
 90   e_Elektronska ručna kočnica              30135 non-null  boolean
 91   e_Fabrički ugrađeno dečije sedište       30135 non-null  boolean
 92   e_Glasovne komande                       30135 non-null  boolean
 93   e_Grejanje sedišta                       30135 non-null  boolean
 94   e_Grejanje volana                        30135 non-null  boolean
 95   e_Grejači retrovizora                    30135 non-null  boolean
 96   e_Grejači vetrobranskog stakla           30135 non-null  boolean
 97   e_Hands free                             30135 non-null  boolean
 98   e_Hard disk                              30135 non-null  boolean
 99   e_Head-up display                        30135 non-null  boolean
 100  e_ISOFIX sistem                          30135 non-null  boolean
 101  e_Indikator niskog pritiska u gumama     30135 non-null  boolean
 102  e_Kamera                                 30135 non-null  boolean
 103  e_Keramičke kočnice                      30135 non-null  boolean
 104  e_Kožni volan                            30135 non-null  boolean
 105  e_Krovni nosač                           30135 non-null  boolean
 106  e_Kuka za vuču                           30135 non-null  boolean
 107  e_LED prednja svetla                     30135 non-null  boolean
 108  e_LED zadnja svetla                      30135 non-null  boolean
 109  e_MP3                                    30135 non-null  boolean
 110  e_Masažna sedišta                        30135 non-null  boolean
 111  e_Matrix farovi                          30135 non-null  boolean
 112  e_Memorija sedišta                       30135 non-null  boolean
 113  e_Metalik boja                           30135 non-null  boolean
 114  e_Modovi vožnje                          30135 non-null  boolean
 115  e_Multifunkcionalni volan                30135 non-null  boolean
 116  e_Multimedija                            30135 non-null  boolean
 117  e_Naslon za ruku                         30135 non-null  boolean
 118  e_Navigacija                             30135 non-null  boolean
 119  e_Ostava sa hlađenjem                    30135 non-null  boolean
 120  e_Otvor za skije                         30135 non-null  boolean
 121  e_Paljenje bez ključa                    30135 non-null  boolean
 122  e_Panorama krov                          30135 non-null  boolean
 123  e_Parking senzori                        30135 non-null  boolean
 124  e_Podešavanje volana po visini           30135 non-null  boolean
 125  e_Postolje za bežično punjenje telefona  30135 non-null  boolean
 126  e_Prednja noćna kamera                   30135 non-null  boolean
 127  e_Privlačenje vrata pri zatvaranju       30135 non-null  boolean
 128  e_Putni računar                          30135 non-null  boolean
 129  e_Radio CD                               30135 non-null  boolean
 130  e_Radio/Kasetofon                        30135 non-null  boolean
 131  e_Retrovizor se obara pri rikvercu       30135 non-null  boolean
 132  e_Rezervni točak                         30135 non-null  boolean
 133  e_Ručice za menjanje brzina na volanu    30135 non-null  boolean
 134  e_Sedišta podesiva po visini             30135 non-null  boolean
 135  e_Senzori za kišu                        30135 non-null  boolean
 136  e_Senzori za svetla                      30135 non-null  boolean
 137  e_Servo volan                            30135 non-null  boolean
 138  e_Sportska sedišta                       30135 non-null  boolean
 139  e_Sportsko vešanje                       30135 non-null  boolean
 140  e_Start-stop sistem                      30135 non-null  boolean
 141  e_Subwoofer                              30135 non-null  boolean
 142  e_Svetla za maglu                        30135 non-null  boolean
 143  e_Tempomat                               30135 non-null  boolean
 144  e_Tonirana stakla                        30135 non-null  boolean
 145  e_Torba za skije                         30135 non-null  boolean
 146  e_USB                                    30135 non-null  boolean
 147  e_Upravljanje na sva četiri točka        30135 non-null  boolean
 148  e_Utičnica od 12V                        30135 non-null  boolean
 149  e_Vazdušno vešanje                       30135 non-null  boolean
 150  e_Ventilacija sedišta                    30135 non-null  boolean
 151  e_Virtuelna tabla                        30135 non-null  boolean
 152  e_Volan u kombinaciji drvo/koža          30135 non-null  boolean
 153  e_Webasto                                30135 non-null  boolean
 154  e_Xenon svetla                           30135 non-null  boolean
 155  e_Zaključavanje diferencijala            30135 non-null  boolean
 156  e_Zavesice na zadnjim prozorima          30135 non-null  boolean
 157  e_Šiber                                  30135 non-null  boolean
 158  o_Garancija                              30135 non-null  boolean
 159  o_Garažiran                              30135 non-null  boolean
 160  o_Kupljen nov u Srbiji                   30135 non-null  boolean
 161  o_Oldtimer                               30135 non-null  boolean
 162  o_Prilagođeno invalidima                 30135 non-null  boolean
 163  o_Prvi vlasnik                           30135 non-null  boolean
 164  o_Restauriran                            30135 non-null  boolean
 165  o_Rezervni ključ                         30135 non-null  boolean
 166  o_Servisna knjiga                        30135 non-null  boolean
 167  o_Taxi                                   30135 non-null  boolean
 168  o_Test vozilo                            30135 non-null  boolean
 169  o_Tuning                                 30135 non-null  boolean
 170  o_Vozilo auto škole                      30135 non-null  boolean
dtypes: Float64(1), UInt16(2), UInt32(3), UInt8(1), boolean(128), category(6), string(29), uint16(1)
memory usage: 97.1 MB

### "AdditionalInformation" features

In [ ]:
ai_columns = [col for col in df_train.columns if "ai_" in col]

print("Descriptives for AdditionalInformation columns")
display(df_train[ai_columns].describe())
print()
print("Value counts for AdditionalInformation columns")
for col in ai_columns:
    display(nb_utils.get_value_counts_freq_with_perc(df_train, col))
del ai_columns

Descriptives for AdditionalInformation columns

,ai_floating_flywheel,ai_engine_emission_class,ai_propulsion,ai_gearbox_type,ai_doors_no,ai_seats_no,ai_steering_wheel_side,ai_air_conditioning,ai_color,ai_interior_material,...,ai_import_country,ai_sales_method,ai_credit,ai_deposit,ai_installment_no,ai_installment_amount,ai_interest_free_credit,ai_leasing,ai_cash_payment,ai_range_on_full_battery_km
count,7689,24096,24102,24101,24101,24102,24102,24102,24102,20808,...,6089,2451,1457,388,491,468,151,626,231,97
unique,2,6,4,6,2,8,2,3,19,5,...,23,2,1,181,21,242,1,1,138,49
top,Sa plivajućim zamajcem,Euro 4,Prednji,Manuelni 5 brzina,4/5 vrata,5 sedišta,Levi volan,Automatska klima,Siva,Štof,...,Švajcarska,Komisiona,DA,30 €,84,115 €,DA,DA,5000 €,300
freq,4957,7188,17490,8491,21613,21599,23991,16345,7749,12997,...,1632,2228,1457,26,271,17,151,626,9,9

Value counts for AdditionalInformation columns

                        count  percentage [%]
ai_floating_flywheel
<NA>                    16413       68.098083
Sa plivajućim zamajcem   4957       20.566758
Bez plivajućeg zamajca   2732       11.335159

                          count  percentage [%]
ai_engine_emission_class
Euro 4                     7188       29.823251
Euro 6                     7148        29.65729
Euro 5                     6685       27.736287
Euro 3                     2549       10.575886
Euro 2                      312        1.294498
Euro 1                      214        0.887893
<NA>                          6        0.024894

               count  percentage [%]
ai_propulsion
Prednji        17490       72.566592
4x4             4003        16.60858
Zadnji          2115        8.775205
4x4 reduktor     494        2.049622

                             count  percentage [%]
ai_gearbox_type
Manuelni 5 brzina             8491       35.229442
Manuelni 6 brzina             8195       34.001328
Automatski / poluautomatski   7283       30.217409
Manuelni 4 brzine              119        0.493735
Automatski                      12        0.049788
Poluautomatski                   1        0.004149
<NA>                             1        0.004149

             count  percentage [%]
ai_doors_no
4/5 vrata    21613       89.673056
2/3 vrata     2488       10.322795
<NA>             1        0.004149

             count  percentage [%]
ai_seats_no
5 sedišta    21599        89.61497
4 sedišta     1435        5.953863
7 sedišta      734         3.04539
2 sedišta      268        1.111941
6 sedišta       39        0.161812
3 sedišta       12        0.049788
8 sedišta        8        0.033192
9 sedišta        7        0.029043

                        count  percentage [%]
ai_steering_wheel_side
Levi volan              23991       99.539457
Desni volan               111        0.460543

                     count  percentage [%]
ai_air_conditioning
Automatska klima     16345       67.815949
Manuelna klima        6966       28.902166
Nema klimu             791        3.281885

             count  percentage [%]
ai_color
Siva          7749       32.150859
Crna          6294       26.114015
Bela          3511       14.567256
Plava         2231        9.256493
Crvena        1090        4.522446
Srebrna        593        2.460377
Teget          571        2.369098
Braon          468        1.941748
Zelena         403         1.67206
Bordo          243        1.008215
Zlatna         242        1.004066
Kameleon       123        0.510331
Žuta           120        0.497884
Bež            110        0.456394
Narandžasta    107        0.443947
Smeđa           95        0.394158
Ljubičasta      73        0.302879
Tirkiz          43        0.178408
Krem            36        0.149365

                      count  percentage [%]
ai_interior_material
Štof                  12997       53.924985
Prirodna koža          4165       17.280724
<NA>                   3294       13.666916
Kombinovana koža       2899       12.028047
Drugi                   383         1.58908
Velur                   364        1.510248

                   count  percentage [%]
ai_interior_color
Crna               12283       50.962576
Siva                4655        19.31375
<NA>                4191       17.388598
Druga               1338        5.551407
Bež                 1116        4.630321
Smeđa                519        2.153348

                     count  percentage [%]
ai_registered_until
Nije registrovan     10402       43.158244
06.2024.              1209        5.016181
07.2024.              1186        4.920753
05.2024.              1149        4.767239
04.2024.              1129        4.684259
12.2024.              1116        4.630321
08.2024.              1103        4.576384
11.2024.              1074        4.456062
10.2024.              1073        4.451913
09.2024.              1033        4.285951
03.2024.               997        4.136586
01.2025.               788        3.269438
02.2024.               640        2.655381
02.2025.               398        1.651315
01.2024.               227        0.941831
12.2023.               155          0.6431
11.2023.                83         0.34437
10.2023.                75        0.311177
09.2023.                43        0.178408
08.2023.                40        0.165961
03.2025.                33        0.136918
07.2023.                29        0.120322
05.2023.                25        0.103726
06.2023.                24        0.099577
04.2023.                12        0.049788
02.2023.                11        0.045639
03.2023.                11        0.045639
11.2022.                 6        0.024894
03.2022.                 6        0.024894
10.2022.                 3        0.012447
08.2022.                 3        0.012447
01.2023.                 3        0.012447
12.2022.                 3        0.012447
12.2021.                 2        0.008298
<NA>                     2        0.008298
09.2022.                 2        0.008298
07.2022.                 2        0.008298
06.2022.                 1        0.004149
04.2022.                 1        0.004149
05.2021.                 1        0.004149
11.2021.                 1        0.004149
06.2021.                 1        0.004149

                   count  percentage [%]
ai_vehicle_origin
Domaće tablice     14720        61.07377
Na ime kupca        9225       38.274832
Strane tablice       156        0.647249
<NA>                   1        0.004149

                        count  percentage [%]
ai_ownership
Vodi se na prodavca     10307       42.764086
<NA>                     9398       38.992615
Ne vodi se na prodavca   4397       18.243299

                                count  percentage [%]
ai_damage
Nije oštećen                    23812        98.79678
Oštećen - u voznom stanju         175        0.726081
Oštećen - nije u voznom stanju    112        0.464692
<NA>                                3        0.012447

                     count  percentage [%]
ai_import_country
<NA>                 18013       74.736536
Švajcarska            1632        6.771222
Italija               1097         4.55149
Francuska             1004        4.165629
Nemačka                859         3.56402
Holandija              548         2.27367
Belgija                279         1.15758
Norveška               222        0.921085
Austrija               164        0.680441
Slovenija              124         0.51448
Španija                 55        0.228197
Švedska                 37        0.153514
Danska                  17        0.070534
Luksemburg              15        0.062235
Velika Britanija        10         0.04149
Češka                    7        0.029043
Slovačka                 5        0.020745
Bugarska                 4        0.016596
Mađarska                 3        0.012447
Japan                    2        0.008298
Rumunija                 2        0.008298
Bosna i Hercegovina      1        0.004149
Crna Gora                1        0.004149
Rusija                   1        0.004149

                 count  percentage [%]
ai_sales_method
<NA>             21651       89.830719
Komisiona         2228        9.244046
Konsignaciona      223        0.925234

           count  percentage [%]
ai_credit
<NA>       22645       93.954859
DA          1457        6.045141

            count  percentage [%]
ai_deposit
<NA>        23714       98.390175
30 €           26        0.107875
6000 €         16        0.066385
3000 €         14        0.058086
3900 €          9        0.037341
...           ...             ...
6390 €          1        0.004149
5849 €          1        0.004149
2385 €          1        0.004149
4665 €          1        0.004149
2850 €          1        0.004149

[182 rows x 2 columns]

                   count  percentage [%]
ai_installment_no
<NA>               23611       97.962825
84                   271        1.124388
60                   104        0.431499
70                    36        0.149365
71                    19        0.078832
48                    13        0.053937
36                    13        0.053937
24                     8        0.033192
1                      5        0.020745
42                     5        0.020745
40                     3        0.012447
2                      2        0.008298
11                     2        0.008298
34                     2        0.008298
27                     1        0.004149
33                     1        0.004149
72                     1        0.004149
46                     1        0.004149
59                     1        0.004149
16                     1        0.004149
29                     1        0.004149
35                     1        0.004149

                       count  percentage [%]
ai_installment_amount
<NA>                   23634       98.058252
115 €                     17        0.070534
140 €                      9        0.037341
150 €                      9        0.037341
94 €                       8        0.033192
...                      ...             ...
183 €                      1        0.004149
96 €                       1        0.004149
236 €                      1        0.004149
403 €                      1        0.004149
198 €                      1        0.004149

[243 rows x 2 columns]

                         count  percentage [%]
ai_interest_free_credit
<NA>                     23951       99.373496
DA                         151        0.626504

            count  percentage [%]
ai_leasing
<NA>        23476       97.402705
DA            626        2.597295

                 count  percentage [%]
ai_cash_payment
<NA>             23871       99.041573
5000 €               9        0.037341
3000 €               7        0.029043
6000 €               7        0.029043
4800 €               6        0.024894
...                ...             ...
1245 €               1        0.004149
14000 €              1        0.004149
6700 €               1        0.004149
6840 €               1        0.004149
3998 €               1        0.004149

[139 rows x 2 columns]

                             count  percentage [%]
ai_range_on_full_battery_km
<NA>                         24005       99.597544
300                              9        0.037341
140                              6        0.024894
160                              5        0.020745
150                              5        0.020745
500                              4        0.016596
120                              4        0.016596
450                              3        0.012447
130                              3        0.012447
350                              3        0.012447
280                              3        0.012447
230                              3        0.012447
50                               3        0.012447
100                              3        0.012447
400                              3        0.012447
270                              2        0.008298
240                              2        0.008298
550                              2        0.008298
430                              2        0.008298
420                              2        0.008298
580                              1        0.004149
410                              1        0.004149
460                              1        0.004149
651                              1        0.004149
360                              1        0.004149
250                              1        0.004149
200                              1        0.004149
220                              1        0.004149
225                              1        0.004149
610                              1        0.004149
520                              1        0.004149
314                              1        0.004149
180                              1        0.004149
717                              1        0.004149
166                              1        0.004149
290                              1        0.004149
480                              1        0.004149
165                              1        0.004149
340                              1        0.004149
234                              1        0.004149
75                               1        0.004149
536                              1        0.004149
407                              1        0.004149
644                              1        0.004149
570                              1        0.004149
330                              1        0.004149
695                              1        0.004149
275                              1        0.004149
435                              1        0.004149
635                              1        0.004149

In [ ]:
df_train.ai_engine_emission_class = df_train.ai_engine_emission_class.str.strip("Euro")

df_train.replace(
    {
        "ai_gearbox_type": {
            "Automatski": "Automatski / poluautomatski",
            "Poluautomatski": "Automatski / poluautomatski",
        }
    },
    inplace=True,
)

# df_train.fillna({"ai_doors_no": df_train.ai_doors_no.mode()[0]}, inplace=True)

df_train.ai_doors_no = pd.to_numeric(df_train.ai_doors_no.replace({"4/5 vrata": "1", "2/3 vrata": "0"}))

df_train.ai_seats_no = pd.to_numeric(df_train.ai_seats_no.str.strip("sedišta"))

df_train = df_train.loc[df_train.ai_steering_wheel_side != "Desni volan", :]
del df_train["ai_steering_wheel_side"]

df_train.replace(
    {
        "ai_damage": {
            "Nije oštećen": "0",
            "Oštećen - u voznom stanju": "1",
            "Oštećen - nije u voznom stanju": "2",
        }
    },
    inplace=True,
)

features_info["binary"].extend(["ai_doors_no"])
features_info["ordinal"].extend(["ai_engine_emission_class", "ai_damage"])
features_info["nominal"].extend(
    [
        "ai_floating_flywheel",
        "ai_gearbox_type",
        "ai_air_conditioning",
        "ai_color",
        "ai_interior_material",
        "ai_interior_color",
        "ai_propulsion",
        "ai_vehicle_origin",
        "ai_ownership",
    ]
)
features_info["numerical"].extend(["ai_seats_no"])
features_info["other"].extend(
    [
        "ai_registered_until",
        "ai_import_country",
        "ai_sales_method",
        "ai_credit",
        "ai_deposit",
        "ai_installment_no",
        "ai_installment_amount",
        "ai_interest_free_credit",
        "ai_leasing",
        "ai_cash_payment",
        "ai_range_on_full_battery_km",
    ]
)

In [ ]:
df[features_info["numerical"]] = pd.to_numeric(df[features_info["numerical"]], downcast="unsigned")
df = downcast_nonnumerical_dtypes(df, features_info["binary"], features_info["ordinal"], features_info["nominal"])

## Testing

In [31]:
class TestNotebook:
    # @pytest.fixture
    def df(self):
        df = get_dataset_from_db()
        return df

    # @pytest.fixture
    def features_info(self):
        features_info = get_metadata()
        return features_info

    def run_cf_test(self, func_name_ua):
        df, features_info = self.df(), self.features_info()
        func_name_nb = f"{func_name_ua}{nb_utils.NB_SUFFIX}"

        uacleaner_obj = UACleaner()

        # Get function from class object from .py file
        func_ua = getattr(uacleaner_obj, func_name_ua)
        # Get function defined in this notebook
        func_nb = globals()[func_name_nb]

        df_ua, features_info_ua = func_ua(df=df, features_info=features_info)
        df_nb, features_info_nb = func_nb(df=df, features_info=features_info)
        
        pd.testing.assert_frame_equal(df_ua, df_nb)
        assert features_info_ua == features_info_nb

    def test_c_general_informations(self):
        df, features_info = self.df(), self.features_info()
        
        uacleaner_obj = UACleaner()

        df_ua, features_info_ua = uacleaner_obj.initial_clean(df=df, features_info=features_info)
        df_nb, features_info_nb = initial_clean_nb(df=df, features_info=features_info)

        df_ua, features_info_ua = uacleaner_obj.c_general_informations(df=df_ua, features_info=features_info_ua)
        df_nb, features_info_nb = c_general_informations_nb(df=df_nb, features_info=features_info_nb)
        
        pd.testing.assert_frame_equal(df_ua, df_nb)
        assert features_info_ua == features_info_nb

    def start(self):
        # Get all methods in UACleaner class with prefix 'cf_'
        cf_methods = [method for method in dir(UACleaner) if method.startswith('cf_') and callable(getattr(UACleaner, method))]

        # Run tests for each cf_method
        for cf_method in cf_methods:
            logging.info(cf_method)
            self.run_cf_test(cf_method)

        self.test_c_general_informations()

In [ ]:
test_obj = TestNotebook()
test_obj.start()

In [ ]:
uacleaner_obj = UACleaner()

df_ua = uacleaner_obj.clean(df=get_dataset_from_db())
features_info_ua = uacleaner_obj.features_info

pd.testing.assert_frame_equal(df, df_ua)
assert features_info == features_info_ua