In [1]:
from typing import Dict, List, Tuple

import numpy as np
import pandas as pd
from IPython.core.display import Markdown
from IPython.core.display_functions import display
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

import notebooks.config as config
import notebooks.utils as nb_utils
from src.config import FeaturesInfo
from src.features.univariate_analysis import UACleaner
from src.utils import init_cols_nan_strategy, preprocess_init

STAGE = 1
PREVIOUS_STAGE = STAGE - 1

%load_ext autoreload
%autoreload 2

## Load cleaned data and metadata in artifacts

In [2]:
df, features_info = nb_utils.load_dataset_and_metadata(
    nb_utils.STAGES_DICT[PREVIOUS_STAGE]["name"],
    nb_utils.STAGES_DICT[PREVIOUS_STAGE]["folder_path"],
)

In [3]:
df.info(memory_usage="deep", max_cols=200)
print()

max_nans_for_rows = df.isna().sum(axis=1).max()
print(f"Max NaNs for rows: {max_nans_for_rows}")
print()

pd.options.display.max_rows = None

print("NaNs for cols")
nans_for_cols = nb_utils.get_nas(df)
display(nans_for_cols[nans_for_cols > 0])

pd.reset_option("display.max_rows", 0)

<class 'pandas.core.frame.DataFrame'>
Index: 29991 entries, 9249043 to 23246511
Data columns (total 170 columns):
 #    Column                                   Non-Null Count  Dtype
---   ------                                   --------------  -----
 0    name                                     29991 non-null  string
 1    short_url                                29991 non-null  string
 2    price                                    29991 non-null  UInt32
 3    listing_followers_no                     27205 non-null  UInt16
 4    location                                 29991 non-null  category
 5    images_no                                29991 non-null  UInt8
 6    description                              29991 non-null  string
 7    gi_brand                                 29991 non-null  category
 8    gi_model                                 29991 non-null  category
 9    gi_production_year                       29991 non-null  UInt16
 10   gi_kilometerage                          29991 non-null  UInt32
 11   gi_body_type                             29991 non-null  category
 12   gi_fuel_type                             29991 non-null  category
 13   gi_engine_capacity                       29833 non-null  UInt32
 14   gi_engine_power                          29991 non-null  uint16
 15   gi_trade_in                              29991 non-null  category
 16   gi_certified                             1517 non-null   datetime64[ns]
 17   gi_battery_capacity                      157 non-null    Float64
 18   ai_floating_flywheel                     9574 non-null   category
 19   ai_engine_emission_class                 29984 non-null  category
 20   ai_propulsion                            29991 non-null  category
 21   ai_gearbox_type                          29990 non-null  category
 22   ai_doors_no                              29989 non-null  boolean
 23   ai_seats_no                              29991 non-null  UInt8
 24   ai_air_conditioning                      29991 non-null  category
 25   ai_color                                 29991 non-null  category
 26   ai_interior_material                     25939 non-null  category
 27   ai_interior_color                        24788 non-null  category
 28   ai_registered_until                      17044 non-null  datetime64[ns]
 29   ai_vehicle_origin                        29989 non-null  category
 30   ai_ownership                             18280 non-null  category
 31   ai_damage                                29986 non-null  category
 32   ai_import_country                        7577 non-null   category
 33   ai_sales_method                          3031 non-null   category
 34   ai_credit                                1817 non-null   boolean
 35   ai_deposit                               473 non-null    UInt32
 36   ai_installment_no                        610 non-null    UInt8
 37   ai_installment_amount                    578 non-null    UInt16
 38   ai_interest_free_credit                  186 non-null    boolean
 39   ai_leasing                               787 non-null    boolean
 40   ai_cash_payment                          283 non-null    UInt32
 41   ai_range_on_full_battery_km              127 non-null    UInt16
 42   s_ABS                                    29991 non-null  boolean
 43   s_ASR                                    29991 non-null  boolean
 44   s_Airbag_za_suvozača                     29991 non-null  boolean
 45   s_Airbag_za_vozača                       29991 non-null  boolean
 46   s_Alarm                                  29991 non-null  boolean
 47   s_Asistencija_praćenja_trake             29991 non-null  boolean
 48   s_Automatsko_kočenje                     29991 non-null  boolean
 49   s_Blokada_motora                         29991 non-null  boolean
 50   s_Bočni_airbag                           29991 non-null  boolean
 51   s_Centralno_zaključavanje                29991 non-null  boolean
 52   s_Child_lock                             29991 non-null  boolean
 53   s_ESP                                    29991 non-null  boolean
 54   s_Kodiran_ključ                          29991 non-null  boolean
 55   s_Mehanička_zaštita                      29991 non-null  boolean
 56   s_OBD_zaštita                            29991 non-null  boolean
 57   s_Senzor_mrtvog_ugla                     29991 non-null  boolean
 58   s_Ulazak_bez_ključa                      29991 non-null  boolean
 59   s_Vazdušni_jastuci_za_kolena             29991 non-null  boolean
 60   e_360_kamera                             29991 non-null  boolean
 61   e_AUX_konekcija                          29991 non-null  boolean
 62   e_Adaptivna_svetla                       29991 non-null  boolean
 63   e_Adaptivni_tempomat                     29991 non-null  boolean
 64   e_Aluminijumske_felne                    29991 non-null  boolean
 65   e_Ambijentalno_osvetljenje               29991 non-null  boolean
 66   e_Android_Auto                           29991 non-null  boolean
 67   e_Apple_CarPlay                          29991 non-null  boolean
 68   e_Asistencija_za_kretanje_na_uzbrdici    29991 non-null  boolean
 69   e_Automatsko_parkiranje                  29991 non-null  boolean
 70   e_Automatsko_zatamnjivanje_retrovizora   29991 non-null  boolean
 71   e_Autonomna_vožnja                       29991 non-null  boolean
 72   e_Bluetooth                              29991 non-null  boolean
 73   e_Branici_u_boji_auta                    29991 non-null  boolean
 74   e_Brisači_prednjih_farova                29991 non-null  boolean
 75   e_CD_changer                             29991 non-null  boolean
 76   e_DPF_filter                             29991 non-null  boolean
 77   e_DVD_ili_TV                             29991 non-null  boolean
 78   e_Daljinsko_zaključavanje                29991 non-null  boolean
 79   e_Digitalni_radio                        29991 non-null  boolean
 80   e_Dnevna_svetla                          29991 non-null  boolean
 81   e_Držači_za_čaše                         29991 non-null  boolean
 82   e_Ekran_na_dodir                         29991 non-null  boolean
 83   e_Električni_podizači                    29991 non-null  boolean
 84   e_Električni_retrovizori                 29991 non-null  boolean
 85   e_Elektro_otvaranje_prtljažnika          29991 non-null  boolean
 86   e_Elektro_podesiva_sedišta               29991 non-null  boolean
 87   e_Elektro_sklopivi_retrovizori           29991 non-null  boolean
 88   e_Elektro_zatvaranje_prtljažnika         29991 non-null  boolean
 89   e_Elektronska_ručna_kočnica              29991 non-null  boolean
 90   e_Fabrički_ugrađeno_dečije_sedište       29991 non-null  boolean
 91   e_Glasovne_komande                       29991 non-null  boolean
 92   e_Grejanje_sedišta                       29991 non-null  boolean
 93   e_Grejanje_volana                        29991 non-null  boolean
 94   e_Grejači_retrovizora                    29991 non-null  boolean
 95   e_Grejači_vetrobranskog_stakla           29991 non-null  boolean
 96   e_Hands_free                             29991 non-null  boolean
 97   e_Hard_disk                              29991 non-null  boolean
 98   e_Head_up_display                        29991 non-null  boolean
 99   e_ISOFIX_sistem                          29991 non-null  boolean
 100  e_Indikator_niskog_pritiska_u_gumama     29991 non-null  boolean
 101  e_Kamera                                 29991 non-null  boolean
 102  e_Keramičke_kočnice                      29991 non-null  boolean
 103  e_Kožni_volan                            29991 non-null  boolean
 104  e_Krovni_nosač                           29991 non-null  boolean
 105  e_Kuka_za_vuču                           29991 non-null  boolean
 106  e_LED_prednja_svetla                     29991 non-null  boolean
 107  e_LED_zadnja_svetla                      29991 non-null  boolean
 108  e_MP3                                    29991 non-null  boolean
 109  e_Masažna_sedišta                        29991 non-null  boolean
 110  e_Matrix_farovi                          29991 non-null  boolean
 111  e_Memorija_sedišta                       29991 non-null  boolean
 112  e_Metalik_boja                           29991 non-null  boolean
 113  e_Modovi_vožnje                          29991 non-null  boolean
 114  e_Multifunkcionalni_volan                29991 non-null  boolean
 115  e_Multimedija                            29991 non-null  boolean
 116  e_Naslon_za_ruku                         29991 non-null  boolean
 117  e_Navigacija                             29991 non-null  boolean
 118  e_Ostava_sa_hlađenjem                    29991 non-null  boolean
 119  e_Otvor_za_skije                         29991 non-null  boolean
 120  e_Paljenje_bez_ključa                    29991 non-null  boolean
 121  e_Panorama_krov                          29991 non-null  boolean
 122  e_Parking_senzori                        29991 non-null  boolean
 123  e_Podešavanje_volana_po_visini           29991 non-null  boolean
 124  e_Postolje_za_bežično_punjenje_telefona  29991 non-null  boolean
 125  e_Prednja_noćna_kamera                   29991 non-null  boolean
 126  e_Privlačenje_vrata_pri_zatvaranju       29991 non-null  boolean
 127  e_Putni_računar                          29991 non-null  boolean
 128  e_Radio_CD                               29991 non-null  boolean
 129  e_Radio_ili_Kasetofon                    29991 non-null  boolean
 130  e_Retrovizor_se_obara_pri_rikvercu       29991 non-null  boolean
 131  e_Rezervni_točak                         29991 non-null  boolean
 132  e_Ručice_za_menjanje_brzina_na_volanu    29991 non-null  boolean
 133  e_Sedišta_podesiva_po_visini             29991 non-null  boolean
 134  e_Senzori_za_kišu                        29991 non-null  boolean
 135  e_Senzori_za_svetla                      29991 non-null  boolean
 136  e_Servo_volan                            29991 non-null  boolean
 137  e_Sportska_sedišta                       29991 non-null  boolean
 138  e_Sportsko_vešanje                       29991 non-null  boolean
 139  e_Start_stop_sistem                      29991 non-null  boolean
 140  e_Subwoofer                              29991 non-null  boolean
 141  e_Svetla_za_maglu                        29991 non-null  boolean
 142  e_Tempomat                               29991 non-null  boolean
 143  e_Tonirana_stakla                        29991 non-null  boolean
 144  e_Torba_za_skije                         29991 non-null  boolean
 145  e_USB                                    29991 non-null  boolean
 146  e_Upravljanje_na_sva_četiri_točka        29991 non-null  boolean
 147  e_Utičnica_od_12V                        29991 non-null  boolean
 148  e_Vazdušno_vešanje                       29991 non-null  boolean
 149  e_Ventilacija_sedišta                    29991 non-null  boolean
 150  e_Virtuelna_tabla                        29991 non-null  boolean
 151  e_Volan_u_kombinaciji_drvo_ili_koža      29991 non-null  boolean
 152  e_Webasto                                29991 non-null  boolean
 153  e_Xenon_svetla                           29991 non-null  boolean
 154  e_Zaključavanje_diferencijala            29991 non-null  boolean
 155  e_Zavesice_na_zadnjim_prozorima          29991 non-null  boolean
 156  e_Šiber                                  29991 non-null  boolean
 157  o_Garancija                              29991 non-null  boolean
 158  o_Garažiran                              29991 non-null  boolean
 159  o_Kupljen_nov_u_Srbiji                   29991 non-null  boolean
 160  o_Oldtimer                               29991 non-null  boolean
 161  o_Prilagođeno_invalidima                 29991 non-null  boolean
 162  o_Prvi_vlasnik                           29991 non-null  boolean
 163  o_Restauriran                            29991 non-null  boolean
 164  o_Rezervni_ključ                         29991 non-null  boolean
 165  o_Servisna_knjiga                        29991 non-null  boolean
 166  o_Taxi                                   29991 non-null  boolean
 167  o_Test_vozilo                            29991 non-null  boolean
 168  o_Tuning                                 29991 non-null  boolean
 169  o_Vozilo_auto_škole                      29991 non-null  boolean
dtypes: Float64(1), UInt16(4), UInt32(5), UInt8(3), boolean(132), category(19), datetime64[ns](2), string(3), uint16(1)
memory usage: 38.9 MB

Max NaNs for rows: 18

NaNs for cols

                             missing count  missing [%]
ai_range_on_full_battery_km          29864    99.576540
gi_battery_capacity                  29834    99.476510
ai_interest_free_credit              29805    99.379814
ai_cash_payment                      29708    99.056384
ai_deposit                           29518    98.422860
ai_installment_amount                29413    98.072755
ai_installment_no                    29381    97.966056
ai_leasing                           29204    97.375879
gi_certified                         28474    94.941816
ai_credit                            28174    93.941516
ai_sales_method                      26960    89.893635
ai_import_country                    22414    74.735754
ai_floating_flywheel                 20417    68.077090
ai_registered_until                  12947    43.169618
ai_ownership                         11711    39.048381
ai_interior_color                     5203    17.348538
ai_interior_material                  4052    13.510720
listing_followers_no                  2786     9.289454
gi_engine_capacity                     158     0.526825
ai_engine_emission_class                 7     0.023340
ai_damage                                5     0.016672
ai_doors_no                              2     0.006669
ai_vehicle_origin                        2     0.006669
ai_gearbox_type                          1     0.003334

In [4]:
df_train, df_test = train_test_split(
    df,
    test_size=config.TEST_SIZE,
    random_state=config.RANDOM_SEED,
)

df_orig = df
df = df_train  # Using alias for making things easier and more neat

cols_nan_strategy = init_cols_nan_strategy()
idx_to_remove = []

In [5]:
n_rows_train, n_cols_train = df_train.shape

print("Train dataset shape")
print(20 * "-")
print(f"No of rows: {n_rows_train}")
print(f"No of cols: {n_cols_train}")

print()

n_rows_test, n_cols_test = df_test.shape

print("Test dataset shape")
print(20 * "-")
print(f"No of rows: {n_rows_test}")
print(f"No of cols: {n_cols_test}")
print(20 * "-")

Train dataset shape
--------------------
No of rows: 23992
No of cols: 170

Test dataset shape
--------------------
No of rows: 5999
No of cols: 170
--------------------

### nominal features

In [7]:
@preprocess_init
def ua_nominal_features_nb(
    df: pd.DataFrame,
    features_info: FeaturesInfo,
    cols_nan_strategy: Dict[str, List[str]],
) -> Tuple[pd.DataFrame, FeaturesInfo, Dict[str, List[str]]]:
    print("Frequencies for nominal features")
    for col in features_info["nominal"]:
        df[col] = df[col].cat.remove_unused_categories()
        display(nb_utils.get_value_counts_freq_with_perc(df, col))
    print("Dropped empty categories")
    print()

    df.loc[df.gi_body_type == "", "gi_body_type"] = np.nan
    print("Replaced ' ' category for 'gi_body_type' with NaN")

    df.gi_fuel_type = pd.Categorical(
        df.gi_fuel_type.astype("string").replace(
            {
                "Hibridni pogon (Benzin)": "Hibridni pogon",
                "Hibridni pogon (Dizel)": "Hibridni pogon",
                "Plug-in hibrid": "Hibridni pogon",
                "Metan CNG": "Benzin + Metan (CNG)",
            }
        ),
        ordered=False,
    )
    print("Grouped simillar categories for 'gi_fuel_type'")

    df.ai_gearbox_type = pd.Categorical(
        df.ai_gearbox_type.astype("string").replace(
            {
                "Automatski": "Automatski / poluautomatski",
                "Poluautomatski": "Automatski / poluautomatski",
            }
        )
    )
    print("Grouped simillar categories for 'ai_gearbox_type'")

    constant_strat_cols = [
        "ai_floating_flywheel",
        "ai_interior_material",
        "ai_interior_color",
        "ai_ownership",
        "ai_import_country",
        "ai_sales_method",
    ]
    modus_strat_cols = [
        col for col in features_info["nominal"] if col not in constant_strat_cols
    ]
    cols_nan_strategy["const"].extend(constant_strat_cols)
    cols_nan_strategy["modus"].extend(modus_strat_cols)
    print("NaN constant strategy columns:")
    print(constant_strat_cols)
    print("Extended 'constant' and 'modus' column_handle_nan_dict")

    return df, features_info, cols_nan_strategy


df, features_info, cols_nan_strategy = ua_nominal_features_nb(
    df=df, features_info=features_info, cols_nan_strategy=cols_nan_strategy
)

Frequencies for nominal features

                      count  percentage [%]
location
Beograd                3925       16.359620
Novi Sad               1682        7.010670
Niš                     977        4.072191
Kragujevac              890        3.709570
Čačak                   716        2.984328
...                     ...             ...
Rudnik                    1        0.004168
Rudna Glava               1        0.004168
Riđica                    1        0.004168
Jaša Tomić                1        0.004168
Mačvanski Pričinović      1        0.004168

[777 rows x 2 columns]

            count  percentage [%]
gi_brand
Volkswagen   3855       16.067856
Audi         2503       10.432644
BMW          2173        9.057186
Opel         1886        7.860954
Peugeot      1612        6.718906
...           ...             ...
Great Wall      1        0.004168
Geely           1        0.004168
Cadillac        1        0.004168
Buick           1        0.004168
Lincoln         1        0.004168

[72 rows x 2 columns]

           count  percentage [%]
gi_model
A4           677        2.821774
Octavia      499        2.079860
A3           496        2.067356
A6           480        2.000667
Golf 7       465        1.938146
...          ...             ...
E 230          1        0.004168
SL 280         1        0.004168
SL 300         1        0.004168
SL 63 AMG      1        0.004168
725            1        0.004168

[889 rows x 2 columns]

                       count  percentage [%]
gi_body_type
Hečbek                  8212       34.228076
Džip/SUV                4740       19.756586
Limuzina                4429       18.460320
Karavan                 3633       15.142548
Monovolumen (MiniVan)   1944        8.102701
Kupe                     645        2.688396
Kabriolet/Roadster       247        1.029510
Pickup                   140        0.583528
                           2        0.008336

                         count  percentage [%]
gi_fuel_type
Dizel                    16394       68.331110
Benzin                    5895       24.570690
Benzin + Gas (TNG)         895        3.730410
Benzin + Metan (CNG)       443        1.846449
Hibridni pogon             196        0.816939
Električni pogon           129        0.537679
Hibridni pogon (Benzin)     24        0.100033
Hibridni pogon (Dizel)      13        0.054185
Plug-in hibrid               2        0.008336
Metan CNG                    1        0.004168

                   count  percentage [%]
gi_trade_in
NE                 17683       73.703735
DA                  2981       12.424975
DA (za jeftinije)   2206        9.194732
DA (za skuplje)      775        3.230243
DA (u istoj ceni)    347        1.446315

                        count  percentage [%]
ai_floating_flywheel
<NA>                    16319       68.018506
Sa plivajućim zamajcem   4941       20.594365
Bez plivajućeg zamajca   2732       11.387129

                             count  percentage [%]
ai_gearbox_type
Manuelni 5 brzina             8499       35.424308
Manuelni 6 brzina             8116       33.827943
Automatski / poluautomatski   7252       30.226742
Manuelni 4 brzine              111        0.462654
Automatski                      13        0.054185
Poluautomatski                   1        0.004168

                     count  percentage [%]
ai_air_conditioning
Automatska klima     16266       67.797599
Manuelna klima        6940       28.926309
Nema klimu             786        3.276092

             count  percentage [%]
ai_color
Siva          7659       31.923141
Crna          6265       26.112871
Bela          3565       14.859120
Plava         2177        9.073858
Crvena        1094        4.559853
Srebrna        594        2.475825
Teget          576        2.400800
Braon          462        1.925642
Zelena         386        1.608870
Bordo          256        1.067022
Zlatna         232        0.966989
Kameleon       128        0.533511
Žuta           118        0.491831
Bež            112        0.466822
Narandžasta    109        0.454318
Smeđa          103        0.429310
Ljubičasta      76        0.316772
Tirkiz          45        0.187563
Krem            35        0.145882

                      count  percentage [%]
ai_interior_material
Štof                  12955       53.997166
Prirodna koža          4103       17.101534
<NA>                   3266       13.612871
Kombinovana koža       2933       12.224908
Drugi                   380        1.583861
Velur                   355        1.479660

                   count  percentage [%]
ai_interior_color
Crna               12217       50.921140
Siva                4596       19.156385
<NA>                4182       17.430810
Druga               1351        5.631044
Bež                 1139        4.747416
Smeđa                507        2.113204

               count  percentage [%]
ai_propulsion
Prednji        17406       72.549183
4x4             4012       16.722241
Zadnji          2091        8.715405
4x4 reduktor     483        2.013171

                   count  percentage [%]
ai_vehicle_origin
Domaće tablice     14673       61.157886
Na ime kupca        9171       38.225242
Strane tablice       146        0.608536
<NA>                   2        0.008336

                        count  percentage [%]
ai_ownership
Vodi se na prodavca     10279       42.843448
<NA>                     9338       38.921307
Ne vodi se na prodavca   4375       18.235245

                     count  percentage [%]
ai_import_country
<NA>                 17948       74.808269
Švajcarska            1609        6.706402
Italija               1109        4.622374
Francuska              995        4.147216
Nemačka                846        3.526175
Holandija              534        2.225742
Belgija                294        1.225408
Norveška               209        0.871124
Austrija               155        0.646049
Slovenija              131        0.546015
Španija                 61        0.254251
Švedska                 46        0.191731
Luksemburg              16        0.066689
Danska                  15        0.062521
Češka                    6        0.025008
Slovačka                 5        0.020840
Bugarska                 3        0.012504
Rumunija                 3        0.012504
Mađarska                 2        0.008336
Crna Gora                1        0.004168
Rusija                   1        0.004168
Velika Britanija         1        0.004168
Japan                    1        0.004168
Bosna i Hercegovina      1        0.004168

                 count  percentage [%]
ai_sales_method
<NA>             21563       89.875792
Komisiona         2210        9.211404
Konsignaciona      219        0.912804

Dropped empty categories

Replaced ' ' category for 'gi_body_type' with NaN
Grouped simillar categories for 'gi_fuel_type'
Grouped simillar categories for 'ai_gearbox_type'
NaN constant strategy columns:
['ai_floating_flywheel', 'ai_interior_material', 'ai_interior_color', 'ai_ownership', 'ai_import_country', 'ai_sales_method']
Extended 'constant' and 'modus' column_handle_nan_dict